<a href="https://colab.research.google.com/github/yoshitoG/nicar21_first_python_notebook/blob/main/%E2%98%85%E2%98%85%E3%80%90%E8%AA%B2%E5%A4%96%E8%A3%9C%E8%AC%9B0710%E3%80%91%E3%83%AF%E3%82%AF%E3%83%81%E3%83%B3%E6%8E%A5%E7%A8%AE%E3%81%A8%E6%96%B0%E8%A6%8F%E6%84%9F%E6%9F%93%E8%80%85%E6%95%B0%E3%81%AE%E9%96%A2%E4%BF%82%E3%82%92%E8%A6%8B%E3%81%9F%E3%81%84_0714%E6%99%82%E7%82%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 新型コロナワクチン接種と、感染者数の関係を見たい
### Google Colab で「R」を試す

小宮山さんや山本さんの講義の補足。終了後にゆっくり目を通していただければ十分です。Slackのinformationチャンネルに松波さんが投稿している、tidyverseの基本の[解説](https://jnpcitseminar.slack.com/files/UGX4CGHNZ/F026EJU680M/memo_for_r_beginners.rmd)へのつなぎ、だと思って下さい。

このノートのコードは、PythonではなくRです。なお、Google Colabolatory で実行環境をRにしたノートを新規作成するには、[こちらのリンク](https://colab.research.google.com/notebook#create=true&language=r)を使うのが手っ取り早い方法です。

Colabで見ていただいている方は、上のメニュー欄の「ファイル」から「ドライブにコピーを保存」を選んだ後、ご自身の環境で実際に動かして試してみて下さい。

お急ぎの方は、２の「その前に」は飛ばして、３の「使い始めの設定」から実行して下さい。コードはローカルでも動きます。

※接種途中（1回目）と接種完了（2回目）を区分して集計するよう、手直ししました。

## 1.何をやるか

### 1.1. 時系列で可視化したい

[政府CIOポータル](https://cio.go.jp/c19vaccine_dashboard)から、COVID-19のワクチン接種状況のデータを取ってくるところまでは、同じです。さらに、別の場所から、感染状況のデータを取ってきて、両者の関係を見てみることにします。感染状況は、[内閣官房「新型コロナウイルス感染症対策」](https://corona.go.jp/dashboard/)のデータのページにまとまっています。

ざっと作っただけですが、[こちら](https://bit.ly/JNPC210710)のように、時間の経過でどう変化しているかを可視化する、という想定で、データを加工していきましょう。接種のほうは件数の累計が、感染者数のほうは新規の移動平均が、最終的にほしいデータです。

なお、可視化に使ったのは、[Flourish](https://flourish.studio/)です。Flourishについては説明しません。

### 1.2. 気になる点

データの概要を見てみましょう。接種状況のほうは、**その日その日の件数**です。都道府県別になっています。

一方、感染状況は、**累積の感染者数**ですね。こちらも都道府県別になっている（全国計のデータは別になっている）のですが、**自治体名ではなくて数字**が並んでいます。

ちなみに、接種完了の人のstatusは単に「2」とされていて、2回必要なうち2回目まで受けたのか、1回だけでよいワクチンなのかが、区別できません。ワクチンの効果を今後、検証していくためには、「1回で完了」「2回中の1回目＝途中」「2回中の2回目＝完了」の区別がつくよう、「1-1」「2-1」「2-2」のような区分にしておいてほしかったところです。もしかしたら、変更になるかもしれませんけれど。

<font color="gray">
現状では1回完了型は日本では接種できないと思います（違っていたらごめんなさい）が、仕様を見ると、1回完了型の場合もstatusは2とするようです。
</font>

ワクチンの製造元別に数字が分かれば、なおよいですよね。

データをもらいっぱなしにするのではなく、使う側として、声を上げていかなくてはいけない部分だと思います。

## 2.その前に


### 2.1. わざわざプログラムを書く理由

ExcelやGoogleスプレッドシートがあるのに、どうしてプログラムを書くのか。一番の理由は、プログラムに書いておけば、**繰り返し使えて、再現可能性が高い**から、です。

Excelに代表される表計算ソフトは、優れた発明です。試行錯誤しながら処理していくのにも、向いています。しかし、たとえて言うなら「食材」（データ）と「レシピ」（処理）が渾然一体となっているという欠点があります。自分が作ったものでも、どこにどんな式を入れたのだったか、分からなくなってしまうことが、よくあります。

RやPythonのプログラムであれば、データと処理が分離されています。その分、見通しがよく、何をやろうとしているかが分かる、ということになります。なので、必要な手直しもしやすいし、データが更新されても同じ処理が適用できると分かれば、同じプログラムを再度走らせて、最新の結果を得ることもできます。

### 2.2. プログラムは人生ゲーム

暗号のように見えるプログラムですが、一部分を取り出して見てみれば、やっていることはシンプルです。「人生ゲーム」のように、道に枝分かれのある双六みたいなものです。

* 変数と計算　　　手持ち資金や、車に乗っている人数など、今の状態を記憶させおく「変数（入れ物）」を使って、計算をする
* 条件判定と分岐　分かれ道。何かを調べて、処理方法を変える。ルーレットを回すように、乱数でランダムに決めることも（サンプリングなど）
* 繰り返し　　　　必要なだけ反復処理する。PCは疲れません

途中の道順やスピードはさまざまでも、最終目的地にたどり着けるなら、プログラムとしては役に立ちます。手直しのしやすさや、効率に差はあるにしても。

傾向として、Rは書く人によって、プログラムが大きく異なります。選べる道が多いのはよいけれど、その分、迷いやすい。Pythonは、誰が書いても、似たプログラムになります。主要道があらかじめ整備されているかわり、そこしか通れない（抜け道はあまりない）感じで、これは大きなメリットです。

### 2.3. プログラムのお約束

変数に何かを入れて、覚えておいてもらうことを、代入といいます。これに使う記号が、歴史的経緯で「=」なのです（Rでは「<-」も使えます）。分かりにくいのですが、イコールではなく、**右辺のものを左辺の変数に入れる**、という指示になります。

In [ ]:
born = 1984         # 1984年生まれの人が
age  = 37           # 誕生日を迎えて37歳だとすると
now  = born + age   # 今は何年？
print(now)

[1] 2021

変数やデータには型があって、引用符で囲んでないものは数値または変数の中身、引用符に囲まれているものは「そのままの文字列（リテラル）」です。1984は数値、"1984"は文字列です。

In [ ]:
born2 = "1984"
age2  = "37"

# エラーで止まらないようにしたければ、次のセルの冒頭に「#」を入れる。
# print(born2 + age2)
# のように、注釈にすること

In [ ]:
# print(born2 + age2)

Rは「文字列の足し算はできません」と、エラーメッセージで教えてくれました。

In [ ]:
# ある変数を最初に0にしておき
counter = 0
print(counter)
# 繰り返し処理をするごとに1を足すなら
counter = counter + 1
print(counter)
# カウンターとして使える

[1] 0
[1] 1

このコードのしていること、想像がつきますか？　ある数「counter」に１を足したら自分自身に等しくなる、という**不能方程式ではありません**。これは、行番号5のところで、指を折るようにして回数を記録していく「カウンター」です。

では、「イコール」の意味のときはどう書くか。「==」と重ねて使います。

In [ ]:
born == age

[1] FALSE

1985と37は等しくありませんよね。

ここでうっかり、等号ひとつだけを使ってしまうと、どうなるでしょう？

In [ ]:
born = age
print(born)

[1] 37

変数bornに、変数ageの中身である37が代入されてしまいました。

では、これはどうなるでしょう？

In [ ]:
print(age)  # こちらは数値。
print(age2) # 引用符がついているのは、数値でなく文字列だから。
age == age2

[1] 37
[1] "37"

[1] TRUE

片方は数値、片方は文字列なのに、「等しい」と判定されました。これは、Rの仕様のようですが、善し悪しですね。

見た目は一緒でも、型が違えば「等しくない」と厳密に判定する記号「===」が使える言語もあります。気を利かせて型を変換してしまう言語もあります。

### 2.4. ファンクション（関数）とは

関数、という名前がものものしく、数学を連想させるせいで身構えてしまいますが、要するに「ファンクション」とは機能のことです。パソコンについている「F1」キーを「関数キー」だと思う人はいませんよね。ヘルプを表示する、という働きをひとまとめにして、このキーに対応させているだけです。ある「働き」とか「機能」「処理」だと考えて下さい。

<font color = 'gray'>
※函数や関数も名訳だし、プログラムに当てはめても、別におかしくはありませんので、アレルギーのない方は無視して下さい。
</font>

さて、Mというデータを、まずAという処理をして、次にBする場合、数学的あるいはExcel的な書き方では、こうなります。中から外へ、処理が実行されます。

```
B(A(M))
```

PythonやRでは、上の書き方も使えますが、Rで標準的なのは

```
M %>% A() %>% B()
```

です。()の中に、一つ前の結果を入れていくわけです。左から右へ読んでいけば、そのまま処理の順番になりますね。見慣れない記号は、「パイプ」といいます。RStudioを使っていれば、簡単に入力できます。

```
M %>%
A() %>%
B()
```

のように改行して書いてあっても、その間に注釈（人間用のメモ。PCは実行せずに飛ばします）が書いてあっても、同じように動きます。

Rの場合、これまでも出てきているように、「#」から行末までが注釈として扱われます。

### 2.5. 拡張パッケージ

本日、RやPythonを使うときに、「tidyverse」とか「pandas」という拡張パッケージを入れていました。私も、わざわざどうして？と、初めてRに触ったときは不思議でした。

理由は後から分かってきたのですが、いまやこのどちらも、スプレッドシートやデータベース的なこと（データ処理や科学技術計算）をやるときには、必需品だから、です。

乱暴に言えば、素のままのRやPythonを、表形式のデータを一貫した覚えやすいコードで扱えるよう、チューニングしている、ということです。今から勉強する人は、わざわざ旧式の、分かりにくい処理を覚える必要はありませんから、この２つに慣れて下さい。素のままでなくて、こちらのほうが、デファクトスタンダードです。

## 3.使い始めの設定

素のままのRに入っていない拡張パッケージを入れます。一度だけ`install.packages`でインストールし、あとは`library`または`require`で呼び込むのが普通の書き方です。

ただし今は、Google Colab上なので、何度も読み込みが発生しないよう、ちょっと工夫しました。

JSONデータの読み込みのほか、移動平均を計算したり、日付を扱ったりするためのパッケージを追加しています。

In [ ]:
# 毎回、全パッケージをインストールすると時間がかかる上、プログラムも長くなるので、工夫した書き方がこちら。特殊なので、覚える必要はない。
# ローカルなら、インストールは一度だけ。オンラインでも、セッションが継続していたら、不要。なので……
# pacmanパッケージが入ってなかったら、まずそれだけ入れる。この下、行番号4のコードは、「p_boot」を実行して、クリップボードから貼り付けられる。
if (!require("pacman")) install.packages("pacman")
# あとはpacmanにやらせる。ちなみに、名前は「パッケージマネージャー」の意。これを入れてもゲームはできない。
pacman::p_load(tidyverse, jsonlite, ndjson, lubridate, RcppRoll)

Loading required package: pacman

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘pacman’”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


ndjson installed

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


RcppRoll installed

## 4.接種状況

### 4.1. データを読み込む

ワクチン接種状況のデータを読み込みます。ここは、小宮山さんの講義の通りのやり方です。

In [ ]:
# データのありかは以下。
target_url_cio <- "https://vrs-data.cio.go.jp/vaccination/opendata/latest/prefecture.ndjson"
# 有効なndjson形式かを確かめる。ここで使うvalidateは、ndjsonパッケージのほう。
# 読み込みに使うjsonliteにも同名の「validate」があり、衝突するので、パッケージ名を明示する。
ndjson::validate(target_url_cio, verbose = TRUE)
# それを読み込む。
cio_stream <- jsonlite::stream_in(gzcon(url(target_url_cio)))
# 冒頭を表示して確かめる。
head(cio_stream)

File: https://vrs-data.cio.go.jp/vaccination/opendata/latest/prefecture.ndjson

[1] TRUE

opening gzcon input connection.

 Imported 40272 records. Simplifying...

closing gzcon input connection.

  date       prefecture gender age medical_worker status count
1 2021-04-12 01         F      -64 FALSE          1      113
2 2021-04-12 01         F      65- FALSE          1       88
3 2021-04-12 01         M      -64 FALSE          1       39
4 2021-04-12 01         M      65- FALSE          1       26
5 2021-04-12 01         U      -64 FALSE          1       12
6 2021-04-12 01         U      UNK FALSE          1        1

### 4.2. 型を変換する

スプレッドシートと同様の二次元の表形式。Rにはこれが2種類あります。従来型の「data.frame」になっているので、現在の主流で使いやすい「tibble」に直します。

tibbleやfata.frameには、縦のカラムは、異なる型のデータが混在してはいけない（１列全部、同じデータ型でないといけない）、という大事な制約があります。

縦と横は、表計算ソフトではあまり気にしない点かもしれません。しかし、RやPythonでデータ処理をする際には、縦には型が揃っている、という点はとても重要です。対して、横に見ていくならば、ある１つのモノ・コトについてのさまざまな側面が分かる、という構造です。

<font color = 'gray'>
※底流には、タイプライター以来の横書きのカルチャーがありそうです。
</font>

型は、この上の表の見出し部分、カラム名の下に表示されています。例えば、＜chr＞は文字列型、＜lgl＞は真と偽の二値を取る論理型です。

dateのカラムは、日付型に直しましょう。このデータではたまたま、年と月と日の判別ができますが、そうでないときもあるので、lubridateパッケージのymdで「年月日の順だよ」と指定しています。

あと、好みの問題もありますが、何種類かの決まった値しか出てこないはずのデータは、「カテゴリー型（因子型）」にしておくと、おかしな値が入っていた場合に気づきやすくなります。「島取」や「鳥根」が紛れ込んでいた場合を考えてみて下さい。

サイトにあったデータの仕様表によれば、genderやageは、今のところ3種類に分類するために使っているようです。

都道府県コードも、0から始まっていますし、厳密に言えば数値（比率尺度・間隔尺度のデータ）ではありません。並び順、という意味合いはありますが、04の宮城が02の青森の2倍、ということはありません。背番号みたいなものですね。

カテゴリー型は、文字列のように見えますが、Rの内部では「数字」＋「名札」です。「山田さん」という人名の文字列を、「出席番号××番」という番号と、「××番の人は山田さん」という対照表にしているのです。データに出てくるのはあるクラスの人に限られる、という状況だと、このほうが設計しやすいことがあります。

見た目では文字列と区別しにくいのでご注意。Rの画面では、引用符付きの「"山田"」なら文字列、引用符に囲まれない「山田」ならカテゴリー型、と区別して表示されます。

In [ ]:
# 実は二次元の表にも２種類ある。
# 標準はdata.frameという表形式。でも、tibbleという形式のほうが何かと扱いやすいので、これに変換する。
cio_data <- cio_stream %>%
    as_tibble()
# ここでいったん、結果を表示。冒頭のみ。
head(cio_data)

# 日付型に直したいカラム
columns_to_date <- "date"
# 因子型（カテゴリー型）に直したいカラム。直さずに文字列型でも、まあいい。
columns_to_factor <- c("gender", "age")
# genderは（男尊女卑でなく並べ替えの練習として）、よくある男・女・不明の順にする指定を入れることも可能
gender_levels <- c("M", "F" ,"U")
# ワクチン接種回数は整数型
columns_to_integer <- "count"
# 変な値があったら気がつくようにしたい。readrを使う。
cio_data <- cio_data %>% 
    mutate(
# lubridateのymdを使ったのは、とくに月と日の順番を明示的に指定するため。年は4桁になっているが、07-10が7月10日と10月7日のどちらを意味するか、を指示したほうが安全。
    across(all_of(columns_to_date), lubridate::ymd),
    across(all_of(columns_to_factor), as_factor),
    across(all_of(columns_to_integer), as.integer)
    )
cio_data$gender <- cio_data$gender %>%
    fct_relevel(gender_levels)

# もう一度、処理結果を表示。北海道と青森の全カテゴリーを見たいので、表示を増やした。
head(cio_data, n = 15)
# 北海道の4月12日は合計してみると279件のようだ。青森は203。
# 沖縄の直近のデータも見てみる。
tail(cio_data, n = 15)
str(cio_data)
summary(cio_data)
# 不要になった元データは消す
# cio_data %>% is.na() %>% sum()
rm(cio_stream)

  date       prefecture gender age medical_worker status count
1 2021-04-12 01         F      -64 FALSE          1      113
2 2021-04-12 01         F      65- FALSE          1       88
3 2021-04-12 01         M      -64 FALSE          1       39
4 2021-04-12 01         M      65- FALSE          1       26
5 2021-04-12 01         U      -64 FALSE          1       12
6 2021-04-12 01         U      UNK FALSE          1        1

   date       prefecture gender age medical_worker status count
1  2021-04-12 01         F      -64 FALSE          1      113
2  2021-04-12 01         F      65- FALSE          1       88
3  2021-04-12 01         M      -64 FALSE          1       39
4  2021-04-12 01         M      65- FALSE          1       26
5  2021-04-12 01         U      -64 FALSE          1       12
6  2021-04-12 01         U      UNK FALSE          1        1
7  2021-04-12 02         F      -64 FALSE          1        3
8  2021-04-12 02         F      65- FALSE          1      137
9  2021-04-12 02         M      -64 FALSE          1        2
10 2021-04-12 02         M      65- FALSE          1       54
11 2021-04-12 02         U      UNK FALSE          1        7
12 2021-04-12 03         F      65- FALSE          1       23
13 2021-04-12 03         M      65- FALSE          1       27
14 2021-04-12 04         F      -64 FALSE          1        1
15 2021-04-12 05         F      -64 FALSE          1       13

   date       prefecture gender age medical_worker status count
1  2021-07-19 46         M      -64 FALSE          2       370
2  2021-07-19 46         M      65- FALSE          1       138
3  2021-07-19 46         M      65- FALSE          2      2136
4  2021-07-19 46         U      UNK FALSE          1         4
5  2021-07-19 46         U      UNK FALSE          2         8
6  2021-07-19 47         F      -64 FALSE          1       850
7  2021-07-19 47         F      -64 FALSE          2       273
8  2021-07-19 47         F      65- FALSE          1       240
9  2021-07-19 47         F      65- FALSE          2      1275
10 2021-07-19 47         M      -64 FALSE          1      1012
11 2021-07-19 47         M      -64 FALSE          2       216
12 2021-07-19 47         M      65- FALSE          1       169
13 2021-07-19 47         M      65- FALSE          2       981
14 2021-07-19 47         U      UNK FALSE          1        11
15 2021-07-19 47         U      UNK FALSE          2         9

tibble [40,272 × 7] (S3: tbl_df/tbl/data.frame)
 $ date          : Date[1:40272], format: "2021-04-12" "2021-04-12" ...
 $ prefecture    : chr [1:40272] "01" "01" "01" "01" ...
 $ gender        : Factor w/ 3 levels "M","F","U": 2 2 1 1 3 3 2 2 1 1 ...
 $ age           : Factor w/ 3 levels "-64","65-","UNK": 1 2 1 2 1 3 1 2 1 2 ...
 $ medical_worker: logi [1:40272] FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ status        : int [1:40272] 1 1 1 1 1 1 1 1 1 1 ...
 $ count         : int [1:40272] 113 88 39 26 12 1 3 137 2 54 ...

      date             prefecture        gender     age        medical_worker
 Min.   :2021-04-12   Length:40272       M:16043   -64:16130   Mode :logical
 1st Qu.:2021-05-17   Class :character   F:16148   65-:16622   FALSE:40272
 Median :2021-06-07   Mode  :character   U: 8081   UNK: 7520
 Mean   :2021-06-06
 3rd Qu.:2021-06-28
 Max.   :2021-07-19
     status          count
 Min.   :1.000   Min.   :    1
 1st Qu.:1.000   1st Qu.:   31
 Median :1.000   Median :  193
 Mean   :1.431   Mean   : 1489
 3rd Qu.:2.000   3rd Qu.: 1396
 Max.   :2.000   Max.   :37295

### 4.3. カテゴリー別の数字を合算する
ワクチン接種状況の数字は、その日その日のカテゴリー別です。年齢・性別・医療従事者かどうかに関わらず、合算することにしましょう。

現時点では、医療従事者フラグは準備されているだけです。でも、将来的には入手可能になることも見越したデータ構造にしてくれているのが、嬉しいですね。製造元の欄も確保されていれば、なおよいのだけれどなあ。

さて、合算は、このままではやりにくいので、縦長の表から横長の表にいったん変換します。ある県のある日の分が横に並ぶようにして、その合計を計算したカラムを新しく作ります。さらに後ほど、その日までの累計も計算します。

縦横変換しなくても、やり方次第で、県ごとにある日の分を合計することは可能です。ただ、将来的にstatusや医療従事者フラグによって重み付けを変えて計算したい場合には、横持ちの表にしておいたほうが対応しやすそうなので、この方法を選択しました。

In [ ]:
cio_wide <- cio_data %>%
# 属性別の接種回数をひとつにまとめる準備。
    select(date, prefecture, status, everything()) %>% 
# 縦持ちから、横持ちに変形する。
    pivot_wider(
        names_from = status:medical_worker,
        values_from = count
    )
# こんな表になった
head(cio_wide)

# ある県の１日あたりの接種を合算。１回目か２回目か、１回で完了かは区別せずに単純合算。
vaccinations <- cio_wide %>% 
    transmute(
# date,prefectureのカラムはそのまま残す。
        date,
        prefecture,
# ステータスで区分して集計するために、以下の２行を追加した。
        status1 = select(., starts_with("1")) %>%
            rowSums(na.rm = TRUE) %>% as.integer(),
        status2 = select(., starts_with("2")) %>%
            rowSums(na.rm = TRUE) %>% as.integer(),
# 各カテゴリーの接種回数を合算したカラムも作る。
        status_all  = select(., contains("_")) %>%
            rowSums(na.rm = TRUE) %>% as.integer()
    )

# ここで結果を見てみる。初日の北海道は279件、青森県は203件。
head(vaccinations)
# 沖縄の直近の日付も合っているようだ。
tail(vaccinations)
summary(vaccinations)

# 不要なデータを消す。
rm(cio_data, cio_wide)

  date       prefecture 1_F_-64_FALSE 1_F_65-_FALSE 1_M_-64_FALSE 1_M_65-_FALSE
1 2021-04-12 01         113            88           39            26
2 2021-04-12 02           3           137            2            54
3 2021-04-12 03          NA            23           NA            27
4 2021-04-12 04           1            NA           NA            NA
5 2021-04-12 05          13             4            3            NA
6 2021-04-12 06          10            23            3            17
  1_U_-64_FALSE 1_U_UNK_FALSE 1_U_65-_FALSE 1_F_UNK_FALSE 2_F_65-_FALSE
1 12             1            NA            NA            NA
2 NA             7            NA            NA            NA
3 NA            NA            NA            NA            NA
4 NA            NA            NA            NA            NA
5 NA            NA            NA            NA            NA
6 NA             1            NA            NA            NA
  2_M_65-_FALSE 2_F_-64_FALSE 2_M_-64_FALSE 2_U_UNK_FALSE 2_U_65-_FALSE
1 NA            NA            NA            NA            NA
2 NA            NA            NA            NA            NA
3 NA            NA            NA            NA            NA
4 NA            NA            NA            NA            NA
5 NA            NA            NA            NA            NA
6 NA            NA            NA            NA            NA
  2_U_-64_FALSE 2_F_UNK_FALSE 1_M_UNK_FALSE 2_M_UNK_FALSE
1 NA            NA            NA            NA
2 NA            NA            NA            NA
3 NA            NA            NA            NA
4 NA            NA            NA            NA
5 NA            NA            NA            NA
6 NA            NA            NA            NA

  date       prefecture status1 status2 status_all
1 2021-04-12 01         279     0       279
2 2021-04-12 02         203     0       203
3 2021-04-12 03          50     0        50
4 2021-04-12 04           1     0         1
5 2021-04-12 05          20     0        20
6 2021-04-12 06          54     0        54

  date       prefecture status1 status2 status_all
1 2021-07-19 42         1208    1970    3178
2 2021-07-19 43         2133    5346    7479
3 2021-07-19 44          659    2500    3159
4 2021-07-19 45         1078    3195    4273
5 2021-07-19 46         1785    5230    7015
6 2021-07-19 47         2282    2754    5036

      date             prefecture           status1         status2
 Min.   :2021-04-12   Length:4619        Min.   :    0   Min.   :    0.0
 1st Qu.:2021-05-07   Class :character   1st Qu.: 1290   1st Qu.:   30.5
 Median :2021-05-31   Mode  :character   Median : 4511   Median : 1527.0
 Mean   :2021-05-31                      Mean   : 8034   Mean   : 4946.9
 3rd Qu.:2021-06-25                      3rd Qu.: 9468   3rd Qu.: 5954.0
 Max.   :2021-07-19                      Max.   :78661   Max.   :67172.0
   status_all
 Min.   :     1
 1st Qu.:  1527
 Median :  7250
 Mean   : 12981
 3rd Qu.: 15430
 Max.   :130951

### 4.4. 全国計を計算する
全国計は、接種件数の場合は別にデータがあるわけではなく、各都道府県の数字を合算すればよさそうです。感染者数とは違い、客船のようなケースはないからでしょうか。

<font color = "gray">
大規模接種の場合も、きちんと居住地に振り分けられているのかどうか、要確認ですね。
</font>

全国計の算出は縦持ちのまま、statusで区分して集計するよう変更しました。

In [ ]:
# 全国計の計算方法を変更。縦持ちのままでやる。
# １日ごと全都道府県、というデータを合計するファンクションを作った。
# 最終行に全国計を追加する。
calc_total = function(df){
    return(
        df %>% bind_rows(
            summarize(.,
                across(where(is.numeric), sum),
                prefecture = "TOTAL/AVE"
            )
        )
    )
}

vaccinations <- vaccinations %>%
# 日ごとにまとめ、都道府県名以下は下の階層に畳む（ネスト）。
  nest(nested_df = -date) %>% 
# 先ほどのファンクションを適用して、日ごとに全国計の列を追加する。
  mutate(nested_df = map(nested_df, calc_total)) %>% 
# 計算が終わったのでネストを元に戻す。
  unnest(cols = nested_df)
  
# こんな表になった
head(vaccinations)

# 結果を確認する。
summary(vaccinations)
head(vaccinations)
tail(vaccinations)

  date       prefecture status1 status2 status_all
1 2021-04-12 01         279     0       279
2 2021-04-12 02         203     0       203
3 2021-04-12 03          50     0        50
4 2021-04-12 04           1     0         1
5 2021-04-12 05          20     0        20
6 2021-04-12 06          54     0        54

      date             prefecture           status1          status2
 Min.   :2021-04-12   Length:4718        Min.   :     0   Min.   :     0
 1st Qu.:2021-05-07   Class :character   1st Qu.:  1347   1st Qu.:    32
 Median :2021-05-31   Mode  :character   Median :  4699   Median :  1588
 Mean   :2021-05-31                      Mean   : 15732   Mean   :  9686
 3rd Qu.:2021-06-25                      3rd Qu.:  9948   3rd Qu.:  6276
 Max.   :2021-07-19                      Max.   :739786   Max.   :670809
   status_all
 Min.   :      1
 1st Qu.:   1611
 Median :   7528
 Mean   :  25418
 3rd Qu.:  16135
 Max.   :1329598

  date       prefecture status1 status2 status_all
1 2021-04-12 01         279     0       279
2 2021-04-12 02         203     0       203
3 2021-04-12 03          50     0        50
4 2021-04-12 04           1     0         1
5 2021-04-12 05          20     0        20
6 2021-04-12 06          54     0        54

  date       prefecture status1 status2 status_all
1 2021-07-19 43           2133    5346    7479
2 2021-07-19 44            659    2500    3159
3 2021-07-19 45           1078    3195    4273
4 2021-07-19 46           1785    5230    7015
5 2021-07-19 47           2282    2754    5036
6 2021-07-19 TOTAL/AVE  171851  342364  514215

### 4.5. 累計を計算する

ワクチンが行き渡ることの効果は、その日の接種分ではなく、それまでの積み重ねによるものでしょうから、累計の数字を計算しましょう。特定の都道府県に注目して、その県で接種が始まった日からの件数を足していく、ということになります。

ある県だけに注目したら、こういう処理をしたらいいね、という部分を、即席のファンクションにしています。この部分は、informationチャンネルの[解説「Memo_for_R_beginners.Rmd」](https://jnpcitseminar.slack.com/files/UGX4CGHNZ/F026EJU680M/memo_for_r_beginners.rmd)を参考にして下さい。

もともとは、当日分を含む累計しか計算していなかったのですが、積み上げ棒グラフにするなら、前日までの累計が必要だな、と考えて後からその部分を追加しました。ファンクションとして、切り出してまとめていたから、手直しが楽でした。

本当は、所定回数を完了したのかまだ途中かを区別し、接種の効果に応じてカウントの重みを変えたいところです。しかし、１回完了型が接種可能になった際、いま入手できるデータでは対応しきれないため、重み付けは変えていません。「2回中の1回」（statusが1）は判別できるのですが、statusが2の場合、1だった人が2回目接種を終えたのか、1回だけでＯＫのワクチンの接種を受けたのかが、区別できないためです。

製造元がどこか（Johnson & Johnson とか）の情報があれば、補えます。流通の目詰まりを追うためにも、データがほしいところです。

In [ ]:
# 都道府県ごとに小分けした想定で、累計を計算する即席のファンクションを作った。
calc_sum = function(df){
    return(
        df %>% arrange(date) %>% 
        mutate(
# status区分を追加した。
            "total_status1" = cumsum(status1),
            "total_status2" = cumsum(status2),
# total_と頭につけたカラムは当日を含む。
            "total_status_all" = cumsum(status_all),
# 当日分と積み上げグラフにする場合も考えて、前日分まではcum_vaccinationsカラムに入れることにした。
            "cum_vaccinations"   = total_status_all - status_all
        ) %>% arrange(desc(date))
    )
}

# 都道府県ごとにnest（下の階層に畳む）する。
vaccinations <- vaccinations %>%
# コード順にソートしておく。
    arrange(prefecture) %>%
# prefecture以外は畳む。
    nest(data_by_pref = -prefecture) %>%
# さっき作ったファンクションを、県単位で当てはめていく。
    mutate(data_by_pref = map(data_by_pref, calc_sum)) %>% 
# 計算が終わったので、nestを解除する。
    unnest(cols = data_by_pref)

# 表示する。
head(vaccinations)
tail(vaccinations)
str(vaccinations)

  prefecture date       status1 status2 status_all total_status1 total_status2
1 01         2021-07-19  4402   11844   16246      1522860       871660
2 01         2021-07-18 12415   15086   27501      1518458       859816
3 01         2021-07-17 14840   16671   31511      1506043       844730
4 01         2021-07-16 15581   16439   32020      1491203       828059
5 01         2021-07-15 17893   17980   35873      1475622       811620
6 01         2021-07-14 21424   20069   41493      1457729       793640
  total_status_all cum_vaccinations
1 2394520          2378274
2 2378274          2350773
3 2350773          2319262
4 2319262          2287242
5 2287242          2251369
6 2251369          2209876

  prefecture date       status1 status2 status_all total_status1 total_status2
1 TOTAL/AVE  2021-04-17  7957   0        7957      42370         0
2 TOTAL/AVE  2021-04-16 11144   0       11144      34413         0
3 TOTAL/AVE  2021-04-15  9177   0        9177      23269         0
4 TOTAL/AVE  2021-04-14  4944   0        4944      14092         0
5 TOTAL/AVE  2021-04-13  4293   0        4293       9148         0
6 TOTAL/AVE  2021-04-12  4855   0        4855       4855         0
  total_status_all cum_vaccinations
1 42370            34413
2 34413            23269
3 23269            14092
4 14092             9148
5  9148             4855
6  4855                0

tibble [4,718 × 9] (S3: tbl_df/tbl/data.frame)
 $ prefecture      : chr [1:4718] "01" "01" "01" "01" ...
 $ date            : Date[1:4718], format: "2021-07-19" "2021-07-18" ...
 $ status1         : int [1:4718] 4402 12415 14840 15581 17893 21424 21273 21418 18172 25728 ...
 $ status2         : int [1:4718] 11844 15086 16671 16439 17980 20069 21916 22393 19474 16211 ...
 $ status_all      : int [1:4718] 16246 27501 31511 32020 35873 41493 43189 43811 37646 41939 ...
 $ total_status1   : int [1:4718] 1522860 1518458 1506043 1491203 1475622 1457729 1436305 1415032 1393614 1375442 ...
 $ total_status2   : int [1:4718] 871660 859816 844730 828059 811620 793640 773571 751655 729262 709788 ...
 $ total_status_all: int [1:4718] 2394520 2378274 2350773 2319262 2287242 2251369 2209876 2166687 2122876 2085230 ...
 $ cum_vaccinations: int [1:4718] 2378274 2350773 2319262 2287242 2251369 2209876 2166687 2122876 2085230 2043291 ...

## 5.データの橋渡し

### 5.1. 何が足りない

冒頭1.2.の「気になる点」で触れた通り、
ワクチン接種と感染状況のデータの作りは、似ているようで違っています。関係を見るためには、両方のデータを、同じ日付・同じ都道府県、でドッキングさせたい。となると、都道府県コードと都道府県名との対照表が必要になります。

01と北海道は同じもの、02と青森または青森県も同じもの……と、重ならず抜け漏れもなく対応させるためです。

### 5.2. ネ申（ねもうす）Excel問題

仕様のところに、JIS規格へのリンクも張ってあるのですが、ご覧になった方はいるでしょうか？　印刷したときに紙1枚に納まるよう、人間にやさしく作ってありました。が、PCに処理させるには不向きです。
参考になる、三重大・奥村先生の資料は[こちら](https://oku.edu.mie-u.ac.jp/~okumura/SSS2013slide.pdf)。山本さんの資料にも、参考になるリンクが紹介されていました。

仕方がないので、Rで扱いやすいよう、都道府県コードだけで1カラム、県名だけで1カラム、になったデータを手元で作りました（表計算ソフトで作ったあと、読み込ませたもの）。

あと、生数字ではなく、人口比で見るようにしたいので、2021年時点の推計人口（単位・千人）のデータも用意しました。出所は[こちら](https://www.stat.go.jp/data/nihon/zuhyou/n210200300.xlsx)。

<font color = "gray">
※山本さんがお使いのデータと違い、65歳で分けていません。悪しからず。
</font>

都道府県名から「都府県」を外して短くしたものと、複数の県を地方別にまとめたグループ（異論があるかもしれませんが、お許しを）も作っています。Flourishで可視化する際に見やすくしたかったからです。

In [ ]:
# 都道府県コードと人口データ、ネ申状態でない、よいものが見つからなかった。
# JIS X 0401を整形したものと、"https://www.soumu.go.jp/main_content/000701580.xls"の人口データで作った。
# コード順の都道府県名（末尾に都道府県をつけずに短くした形）＋全国。
levels_prefecture_short <- c(
  "北海道", "青森",   "岩手",   "宮城",   "秋田",   "山形",  
  "福島",   "茨城",   "栃木",   "群馬",   "埼玉",   "千葉",  
  "東京",   "神奈川", "新潟",   "富山",   "石川",   "福井",  
  "山梨",   "長野",   "岐阜",   "静岡",   "愛知",   "三重",  
  "滋賀",   "京都",   "大阪",   "兵庫",   "奈良",   "和歌山",
  "鳥取",   "島根",   "岡山",   "広島",   "山口",   "徳島",  
  "香川",   "愛媛",   "高知",   "福岡",   "佐賀",   "長崎",  
  "熊本",   "大分",   "宮崎",   "鹿児島", "沖縄",   "全国" 
)

# 2020年1月1日時点の都道府県別人口。出典は上記。
population_2020 <- c(
   5267762, 1275783, 1235517, 2292385,  985416, 1082296,
   1881981, 2921436, 1965516, 1969439, 7390054, 6319772,
  13834925, 9209442, 2236042, 1055999, 1139612,  780053,
    826579, 2087307, 2032490, 3708556, 7575530, 1813859,
   1420948, 2545899, 8849635, 5549568, 1353837,  954258,
    561175,  679324, 1903627, 2826858, 1369882,  742505,
    981280, 1369131,  709230, 5129841, 823810,  1350769,
   1769880, 1151229, 1095903, 1630146, 1481547, 127138033
)

# 都道府県コードを作る。頭に0がつく文字列型。
JISX0401 <- 1:47 %>%
    str_pad(2, pad = 0)
JISX0401[48] <- "TOTAL/AVE"

# 都・府・県がついていないと、突合に困りそうなので、それも作る。
levels_prefecture <- levels_prefecture_short[1:48] %>% 
    paste0("県")
levels_prefecture[ 1] <- "北海道"
levels_prefecture[13] <- "東京都"
levels_prefecture[26] <- "京都府"
levels_prefecture[27] <- "大阪府"
levels_prefecture[48] <- "全国"

# この４つをまとめてtibbleにする。
pref_pop <- tibble(
    code                = JISX0401, 
    prefecture          = levels_prefecture,
    prefecture_short    = levels_prefecture_short,
    population          = population_2020
)

# 辞書順ではなく、出現順通りのfactor にしてみた。
columns_to_integer <- 'population'
columns_to_factor2 <- c('code', 'prefecture', 'prefecture_short')
pref_pop <- pref_pop %>% 
    mutate(
        across(all_of(columns_to_integer), as.integer),
        across(all_of(columns_to_factor2), fct_inorder)
    )

# 地方別にくくれるようにする。中点があるものは、エラーしないようにバックティックで囲む。
pref_pop <- pref_pop %>% 
    mutate(block = prefecture_short)
pref_pop <- pref_pop %>% 
    mutate(block = fct_collapse(block,
  `北海道・東北` = c("北海道", "青森",   "岩手",   "宮城",   "秋田",   "山形",   "福島"),
  関東           = c("茨城",   "栃木",   "群馬",   "埼玉",   "千葉",   "東京",   "神奈川"),
  `甲信越・北陸` = c("新潟",   "富山",   "石川",   "福井",   "山梨",   "長野"),
  東海           = c("岐阜",   "静岡",   "愛知",   "三重"),  
  近畿           = c("滋賀",   "京都",   "大阪",   "兵庫",   "奈良",   "和歌山"),
  中国           = c("鳥取",   "島根",   "岡山",   "広島",   "山口"),
  四国           = c("徳島",   "香川",   "愛媛",   "高知"),
  `九州・沖縄`   = c("福岡",   "佐賀",   "長崎",   "熊本",   "大分",   "宮崎",   "鹿児島", "沖縄"),
  全国           = "全国" 
    )
)

head(pref_pop)
summary(pref_pop)
str(pref_pop)

  code prefecture prefecture_short population block
1 01   北海道     北海道           5267762    北海道・東北
2 02   青森県     青森             1275783    北海道・東北
3 03   岩手県     岩手             1235517    北海道・東北
4 04   宮城県     宮城             2292385    北海道・東北
5 05   秋田県     秋田              985416    北海道・東北
6 06   山形県     山形             1082296    北海道・東北

      code      prefecture prefecture_short   population
 01     : 1   北海道 : 1   北海道 : 1       Min.   :   561175
 02     : 1   青森県 : 1   青森   : 1       1st Qu.:  1092501
 03     : 1   岩手県 : 1   岩手   : 1       Median :  1700013
 04     : 1   宮城県 : 1   宮城   : 1       Mean   :  5297418
 05     : 1   秋田県 : 1   秋田   : 1       3rd Qu.:  2850502
 06     : 1   山形県 : 1   山形   : 1       Max.   :127138033
 (Other):42   (Other):42   (Other):42
          block
 九州・沖縄  :8
 北海道・東北:7
 関東        :7
 甲信越・北陸:6
 近畿        :6
 中国        :5
 (Other)     :9

tibble [48 × 5] (S3: tbl_df/tbl/data.frame)
 $ code            : Factor w/ 48 levels "01","02","03",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ prefecture      : Factor w/ 48 levels "北海道","青森県",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ prefecture_short: Factor w/ 48 levels "北海道","青森",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ population      : int [1:48] 5267762 1275783 1235517 2292385 985416 1082296 1881981 2921436 1965516 1969439 ...
 $ block           : Factor w/ 9 levels "北海道・東北",..: 1 1 1 1 1 1 1 2 2 2 ...

## 6.感染状況

### 6.1. データを読み込む

感染状況のデータを読み込みます。都道府県ごとに取ってくることもできます。いまは、全国分をまとめて取ってきましょう。

なお、JSON形式ではありますが、接種状況とは違い、改行区切りにはなっていないので、NDJSON形式ではありません。圧縮もかかっていません。

なので、先ほどとは、読み込みの仕方がちょっと違います。

In [ ]:
# 内閣官房のページにある、都道府県別の感染者数データ。
# ダウンロードの仕方はちょっと異なる。
target_url_opendata <- "https://opendata.corona.go.jp/api/Covid19JapanAll"
ndjson::validate(target_url_opendata, verbose = TRUE)
opendata_json <- jsonlite::fromJSON(target_url_opendata)
# エラーは出ていないようだ。必要な部分だけを取り出す。
str(opendata_json)
cum_patients <- opendata_json[["itemList"]] %>%
# data.frameなのでtibbleに変換する。
    as_tibble()
head(cum_patients)
# 不要になった元データは消す。
rm(opendata_json)

File: https://opendata.corona.go.jp/api/Covid19JapanAll

[1] TRUE

List of 2
 $ errorInfo:List of 3
  ..$ errorFlag   : chr "0"
  ..$ errorCode   : NULL
  ..$ errorMessage: NULL
 $ itemList :'data.frame':	21291 obs. of  3 variables:
  ..$ date     : chr [1:21291] "2021-07-18" "2021-07-18" "2021-07-18" "2021-07-18" ...
  ..$ name_jp  : chr [1:21291] "北海道" "青森県" "岩手県" "宮城県" ...
  ..$ npatients: chr [1:21291] "42386" "2579" "1855" "9549" ...

  date       name_jp npatients
1 2021-07-18 北海道  42386
2 2021-07-18 青森県  2579
3 2021-07-18 岩手県  1855
4 2021-07-18 宮城県  9549
5 2021-07-18 秋田県  974
6 2021-07-18 山形県  2084

感染者数は接種件数とは違って、全国計のデータが別に用意されています。単純に各県の合算とはいかないからでしょう。

In [ ]:
# 同じく内閣官房のページにある、全国計の感染者数データ。
# 手元で計算してみると、上で読み込んだ各都道府県の合算より多い。
target_url_opendata_jpn <-
    "https://data.corona.go.jp/converted-json/covid19japan-npatients.json"
ndjson::validate(target_url_opendata_jpn, verbose = TRUE)
opendata_jpn <- jsonlite::fromJSON(target_url_opendata_jpn)
# データの仕様がよく分からない。もったいない。
# サイトのグラフと見比べると、新規感染者数はadpatientsカラムの数字のようだ。
str(opendata_jpn)
cum_patients_jpn <- opendata_jpn %>% 
    transmute(
        date         = date %>% parse_date(),
        prefecture   = levels_prefecture[48],
        npatients    = npatients %>% as.integer(),
        "new_patients" = adpatients %>% as.integer()
# tibbleにする。
    ) %>% as_tibble()
head(cum_patients_jpn)

# 不要になった元データは消す。
rm(opendata_jpn)

File: https://data.corona.go.jp/converted-json/covid19japan-npatients.json

[1] TRUE

'data.frame':	455 obs. of  3 variables:
 $ date      : chr  "2020-04-21" "2020-04-22" "2020-04-23" "2020-04-24" ...
 $ npatients : int  11350 11772 12240 12681 13031 13232 13422 13695 13929 14120 ...
 $ adpatients: int  370 420 434 423 346 199 183 272 214 187 ...

  date       prefecture npatients new_patients
1 2020-04-21 全国       11350     370
2 2020-04-22 全国       11772     420
3 2020-04-23 全国       12240     434
4 2020-04-24 全国       12681     423
5 2020-04-25 全国       13031     346
6 2020-04-26 全国       13232     199

### 6.2. 型を変換する

3カラムとも文字列型なので、日付・カテゴリー・整数、にそれぞれ変換します。

全国分のほうは、dateカラムは正しく日付型に、感染者数は両カラムとも整数型になっています。

In [ ]:
# 日付型と整数型に変換が必要なカラムを処理。さっきとは別の、シンプルな書き方にしてみた。
cum_patients <- cum_patients %>% 
# transmuteはmutateの変種で、名挙げしないカラムは消してしまう。
    transmute(
        date        = date %>% ymd(),
        "prefecture"  = name_jp,
        npatients   = npatients %>% parse_integer()
    )
str(cum_patients)
head(cum_patients)
summary(cum_patients)

tibble [21,291 × 3] (S3: tbl_df/tbl/data.frame)
 $ date      : Date[1:21291], format: "2021-07-18" "2021-07-18" ...
 $ prefecture: chr [1:21291] "北海道" "青森県" "岩手県" "宮城県" ...
 $ npatients : int [1:21291] 42386 2579 1855 9549 974 2084 5171 11117 7397 8143 ...

  date       prefecture npatients
1 2021-07-18 北海道     42386
2 2021-07-18 青森県      2579
3 2021-07-18 岩手県      1855
4 2021-07-18 宮城県      9549
5 2021-07-18 秋田県       974
6 2021-07-18 山形県      2084

      date             prefecture          npatients
 Min.   :2020-04-22   Length:21291       Min.   :     0
 1st Qu.:2020-08-13   Class :character   1st Qu.:   186
 Median :2020-12-04   Mode  :character   Median :   897
 Mean   :2020-12-04                      Mean   :  6005
 3rd Qu.:2021-03-27                      3rd Qu.:  3640
 Max.   :2021-07-18                      Max.   :189116

### 6.3. 新規感染者数と移動平均を計算する

感染者数は、その日までの累計です。これをもとに、その日に増えた分＝新規感染者数を計算したいのですが、どうすればよいでしょう？

日付順になっているので、まず都道府県別、その中で日付順、というふうに直します。それから、npatientsのカラムの、当日の数字から、前日の数字を引き算したものを、新しいカラムを作って保存します。さらに、曜日要因を取り除くため、7日移動平均も計算します。

いよいよ、松波さんの資料を参考にして下さい。

7日移動平均は、前後でなく過去1週間分を計算しています。最新の日付が上に来るようにしているので、lagではなくleadを使いました。

1列が1日分で、途中の抜けがないかどうか。新規感染者については、数字に変化がない場合はデータなし、という構造だったとしても動作しますが、移動平均のほうはNGです。仮に途中に抜けがある場合は、行ではなく日付（時系列データ）をちゃんと見て処理しないといけません。深入りしませんが、マイナーなパッケージを使うと解決できる場合もあります。[こちら](https://rstudio-pubs-static.s3.amazonaws.com/640203_28880d5e47b44029b9279d8e24385fba.html)を参考にして下さい。

In [ ]:
# 都道府県別に小分けした表を対象に、新規感染者と移動平均を計算する準備。即席のファンクションを作った。
calc_diff <- function(nested_df){
    return(
        nested_df %>%
        arrange(desc(date)) %>% 
        mutate(
            "new_patients" = npatients - dplyr::lead(npatients),
            "patients_ma7" = roll_meanl(new_patients, 7, )
        )
    )
}

# 都道府県ごとにnest（下の階層に畳む）する。
patients <- cum_patients %>%
    nest(data_by_pref = c(date, npatients)) %>%
# さっき作ったファンクションを、県単位で当てはめていく
    mutate(data_by_pref = map(data_by_pref, calc_diff)) %>% 
# 計算が終わったので、nestを解除する。
    unnest(cols = data_by_pref)
# 不要なデータを消す。
rm(cum_patients)

# 結果を見てみる。
head(patients)
str(patients)
summary(patients)

  prefecture date       npatients new_patients patients_ma7
1 北海道     2021-07-18 42386     107          79.71429
2 北海道     2021-07-17 42279     111          72.42857
3 北海道     2021-07-16 42168      73          65.71429
4 北海道     2021-07-15 42095      85          62.42857
5 北海道     2021-07-14 42010      75          59.14286
6 北海道     2021-07-13 41935      60          58.00000

tibble [21,291 × 5] (S3: tbl_df/tbl/data.frame)
 $ prefecture  : chr [1:21291] "北海道" "北海道" "北海道" "北海道" ...
 $ date        : Date[1:21291], format: "2021-07-18" "2021-07-17" ...
 $ npatients   : int [1:21291] 42386 42279 42168 42095 42010 41935 41875 41828 41772 41708 ...
 $ new_patients: int [1:21291] 107 111 73 85 75 60 47 56 64 50 ...
 $ patients_ma7: num [1:21291] 79.7 72.4 65.7 62.4 59.1 ...

  prefecture             date              npatients       new_patients
 Length:21291       Min.   :2020-04-22   Min.   :     0   Min.   :-989.0
 Class :character   1st Qu.:2020-08-13   1st Qu.:   186   1st Qu.:   0.0
 Mode  :character   Median :2020-12-04   Median :   897   Median :   5.0
                    Mean   :2020-12-04   Mean   :  6005   Mean   :  38.9
                    3rd Qu.:2021-03-27   3rd Qu.:  3640   3rd Qu.:  25.0
                    Max.   :2021-07-18   Max.   :189116   Max.   :2447.0
                                                          NA's   :47
  patients_ma7
 Min.   : -94.2857
 1st Qu.:   0.7143
 Median :   5.7143
 Mean   :  38.8929
 3rd Qu.:  26.8571
 Max.   :1812.7143
 NA's   :329

前日との差が「マイナス」になっている箇所もあります。抽出してみましょう。

In [ ]:
patients %>% filter(
    new_patients < 0
)

   prefecture date       npatients new_patients patients_ma7
1  福島県     2021-04-06 2654      -258          25.0000000
2  栃木県     2020-10-12  444        -1           0.8571429
3  栃木県     2020-04-25   52        -1                  NA
4  埼玉県     2020-05-30 1003        -1           0.5714286
5  千葉県     2020-06-05  904        -3          -0.2857143
6  千葉県     2020-06-02  906        -3           0.2857143
7  神奈川県   2020-09-23 5452      -989         -94.2857143
8  神奈川県   2020-05-10 1150        -8           7.0000000
9  新潟県     2020-09-07  145        -1           0.2857143
10 富山県     2021-03-29  933        -1           1.7142857
11 富山県     2020-10-19  422        -1           0.0000000
12 富山県     2020-09-10  407        -2           1.0000000
13 富山県     2020-05-09  216        -6           1.0000000
14 富山県     2020-05-01  201        -1           5.4285714
15 長野県     2020-04-25   66        -1                  NA
16 岐阜県     2020-07-08  160        -3           0.4285714
17 静岡県     2020-06-05   75        -1          -0.1428571
18 愛知県     2020-05-09  491        -7           0.0000000
19 三重県     2021-02-25 2501       -73           8.7142857
20 滋賀県     2020-05-09   97        -1           0.1428571
21 京都府     2020-05-09  347        -1           2.7142857
22 兵庫県     2020-05-19  699        -1           0.7142857
23 鳥取県     2020-10-21   35        -1          -0.1428571
24 島根県     2020-12-31  207        -1           2.5714286
25 広島県     2020-10-13  641        -1           5.1428571
26 広島県     2020-06-02  167        -1           0.0000000
27 山口県     2020-10-01  201        -1           0.8571429
28 佐賀県     2021-03-15 1142        -1           6.8571429
29 佐賀県     2020-09-20  244        -1           0.0000000
30 鹿児島県   2021-02-08 1665        -4           4.7142857
31 鹿児島県   2020-05-14   10        -1           0.0000000

感染者数の全国分は、もともと新規のデータがあるので、差分の計算は不要（計算しても、合いません）。7日移動平均のみ計算します。

その上で、各都道府県の感染者数のデータとまとめて、一つの表にします。

In [ ]:
# 全国の感染者数については、新規は計算不要。移動平均のみ計算する。
cum_patients_jpn <- cum_patients_jpn %>%
    arrange(desc(date)) %>% 
    mutate(
        "patients_ma7" = roll_meanl(new_patients, 7, )
    )
# 先ほどの各都道府県分の表と結合する。
patients <- patients %>%
    bind_rows(cum_patients_jpn)

# 累計のカラムの名前をワクチン接種の表に合わせて直しておく。
patients <- patients %>%
    rename("sum_patients" = npatients)
# 辞書順ではなく、コード順に都道府県をソート可能にしたいので、カテゴリー型に。
# parse_factorでなくfactorにしないとローカルでは（後の部分で）エラーした。
patients$prefecture <- parse_factor(patients$prefecture, levels = levels_prefecture)

# 結果を見る。
head(patients)
tail(patients)
str(patients)

# 不要になったデータは消す
rm(cum_patients_jpn)

  prefecture date       sum_patients new_patients patients_ma7
1 北海道     2021-07-18 42386        107          79.71429
2 北海道     2021-07-17 42279        111          72.42857
3 北海道     2021-07-16 42168         73          65.71429
4 北海道     2021-07-15 42095         85          62.42857
5 北海道     2021-07-14 42010         75          59.14286
6 北海道     2021-07-13 41935         60          58.00000

  prefecture date       sum_patients new_patients patients_ma7
1 全国       2020-04-26 13232        199          NA
2 全国       2020-04-25 13031        346          NA
3 全国       2020-04-24 12681        423          NA
4 全国       2020-04-23 12240        434          NA
5 全国       2020-04-22 11772        420          NA
6 全国       2020-04-21 11350        370          NA

tibble [21,746 × 5] (S3: tbl_df/tbl/data.frame)
 $ prefecture  : Factor w/ 48 levels "北海道","青森県",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ date        : Date[1:21746], format: "2021-07-18" "2021-07-17" ...
 $ sum_patients: int [1:21746] 42386 42279 42168 42095 42010 41935 41875 41828 41772 41708 ...
 $ new_patients: int [1:21746] 107 111 73 85 75 60 47 56 64 50 ...
 $ patients_ma7: num [1:21746] 79.7 72.4 65.7 62.4 59.1 ...

## 7.接種状況と感染状況をドッキング

### 7.1. 何をキーに使うか

最初に処理したワクチン接種のデータと、後から処理した感染者数のデータを、ドッキングします。同じ都道府県どうし、同じ日付のものを間違いなく、対応させなくてはなりません。

ポイントは、それぞれのデータで、一意のキーとなるものはどれか、です。それを使って、突き合わせしていきます。

もう一回、vaccinationsとpatientsを見ておきましょう。

In [ ]:
head(vaccinations)
tail(vaccinations)

  prefecture date       status1 status2 status_all total_status1 total_status2
1 01         2021-07-19  4402   11844   16246      1522860       871660
2 01         2021-07-18 12415   15086   27501      1518458       859816
3 01         2021-07-17 14840   16671   31511      1506043       844730
4 01         2021-07-16 15581   16439   32020      1491203       828059
5 01         2021-07-15 17893   17980   35873      1475622       811620
6 01         2021-07-14 21424   20069   41493      1457729       793640
  total_status_all cum_vaccinations
1 2394520          2378274
2 2378274          2350773
3 2350773          2319262
4 2319262          2287242
5 2287242          2251369
6 2251369          2209876

  prefecture date       status1 status2 status_all total_status1 total_status2
1 TOTAL/AVE  2021-04-17  7957   0        7957      42370         0
2 TOTAL/AVE  2021-04-16 11144   0       11144      34413         0
3 TOTAL/AVE  2021-04-15  9177   0        9177      23269         0
4 TOTAL/AVE  2021-04-14  4944   0        4944      14092         0
5 TOTAL/AVE  2021-04-13  4293   0        4293       9148         0
6 TOTAL/AVE  2021-04-12  4855   0        4855       4855         0
  total_status_all cum_vaccinations
1 42370            34413
2 34413            23269
3 23269            14092
4 14092             9148
5  9148             4855
6  4855                0

In [ ]:
head(patients)
tail(patients)

  prefecture date       sum_patients new_patients patients_ma7
1 北海道     2021-07-18 42386        107          79.71429
2 北海道     2021-07-17 42279        111          72.42857
3 北海道     2021-07-16 42168         73          65.71429
4 北海道     2021-07-15 42095         85          62.42857
5 北海道     2021-07-14 42010         75          59.14286
6 北海道     2021-07-13 41935         60          58.00000

  prefecture date       sum_patients new_patients patients_ma7
1 全国       2020-04-26 13232        199          NA
2 全国       2020-04-25 13031        346          NA
3 全国       2020-04-24 12681        423          NA
4 全国       2020-04-23 12240        434          NA
5 全国       2020-04-22 11772        420          NA
6 全国       2020-04-21 11350        370          NA

「prefectureカラムとdateカラムのペア」をひとまとめにしたものが、どちらの表でも、それぞれの行に固有なキーになっていますね。これを生かして、××県の△△日のデータ、と指定すれば、狙ったものが選び出せるわけです。

でも、同じprefectureカラムでも、一方は都道府県コードで、もう一方は都道府県名です。それで、対照表を用意していたのでした。なので、まずは対照表とドッキングさせます。ほかの手順も考えられますが、ここでは、両方の表を対照表とドッキングさせます。

### 7.2. 対照表とjoinする

2つのtibbleを付き合わせて結合するには、joinを使います。

いくつか種類があります。突合できないデータがあったときに、残すか、捨てるか、が違います。きょうは深入りしませんので、ご自身で使う際に調べて下さい。NA値を「どれも同じもの」と見なすか否か、伝統的なデータベースとRでは、デフォルトの挙動が違ったりします。

patientsには、県名のカラムprefectureがあります。これをキーにして、5.2.で作った対照表pref_popとjoinします。対照表にもprefectureカラムがあり、やはり一意のキーになっています。

In [ ]:
# patientsとvaccinationsを結合する。
# そのために、この２つの表の「都道府県」の対照表を使う。
# patientsには都道府県名のカラムがあるので、それをキーに対照表と結合。
patients <- patients %>%
# prefecture以外は畳む。
    nest(data = -prefecture) %>%
# prefectureカラムをキーにして突合する。
    left_join(pref_pop, by = "prefecture") %>% 
# ネストを戻す。
unnest(cols = data)

# こうなった
head(patients)
tail(patients)

  prefecture date       sum_patients new_patients patients_ma7 code
1 北海道     2021-07-18 42386        107          79.71429     01
2 北海道     2021-07-17 42279        111          72.42857     01
3 北海道     2021-07-16 42168         73          65.71429     01
4 北海道     2021-07-15 42095         85          62.42857     01
5 北海道     2021-07-14 42010         75          59.14286     01
6 北海道     2021-07-13 41935         60          58.00000     01
  prefecture_short population block
1 北海道           5267762    北海道・東北
2 北海道           5267762    北海道・東北
3 北海道           5267762    北海道・東北
4 北海道           5267762    北海道・東北
5 北海道           5267762    北海道・東北
6 北海道           5267762    北海道・東北

  prefecture date       sum_patients new_patients patients_ma7 code
1 全国       2020-04-26 13232        199          NA           TOTAL/AVE
2 全国       2020-04-25 13031        346          NA           TOTAL/AVE
3 全国       2020-04-24 12681        423          NA           TOTAL/AVE
4 全国       2020-04-23 12240        434          NA           TOTAL/AVE
5 全国       2020-04-22 11772        420          NA           TOTAL/AVE
6 全国       2020-04-21 11350        370          NA           TOTAL/AVE
  prefecture_short population block
1 全国             127138033  全国
2 全国             127138033  全国
3 全国             127138033  全国
4 全国             127138033  全国
5 全国             127138033  全国
6 全国             127138033  全国

vaccinationsにも、prefectureというカラムはあるのですが、中身は県名ではなく、都道府県コードです。これをキーにjoinします。相手のpref_popに合わせて、カラム名はあらかじめcodeに直しておきます。pref_popのcodeカラムも、一意のキーになっています。

In [ ]:
# vaccinationsはコードをキーに対照表と結合する。
vaccinations <- vaccinations %>% 
# カラム名を揃えてからjoin。ここでカテゴリー型に直しておく。
    mutate(
        "code" = parse_factor(prefecture, levels = JISX0401)
    ) %>%
    select(-prefecture) %>%
# code以外は畳む
    nest(data = -code) %>%
# codeカラムをキーにして突合する。
    left_join(pref_pop, by = "code") %>%
# ネストを戻す。
    unnest(cols = data)

# こうなった
head(vaccinations)
tail(vaccinations)

  code date       status1 status2 status_all total_status1 total_status2
1 01   2021-07-19  4402   11844   16246      1522860       871660
2 01   2021-07-18 12415   15086   27501      1518458       859816
3 01   2021-07-17 14840   16671   31511      1506043       844730
4 01   2021-07-16 15581   16439   32020      1491203       828059
5 01   2021-07-15 17893   17980   35873      1475622       811620
6 01   2021-07-14 21424   20069   41493      1457729       793640
  total_status_all cum_vaccinations prefecture prefecture_short population
1 2394520          2378274          北海道     北海道           5267762
2 2378274          2350773          北海道     北海道           5267762
3 2350773          2319262          北海道     北海道           5267762
4 2319262          2287242          北海道     北海道           5267762
5 2287242          2251369          北海道     北海道           5267762
6 2251369          2209876          北海道     北海道           5267762
  block
1 北海道・東北
2 北海道・東北
3 北海道・東北
4 北海道・東北
5 北海道・東北
6 北海道・東北

  code      date       status1 status2 status_all total_status1 total_status2
1 TOTAL/AVE 2021-04-17  7957   0        7957      42370         0
2 TOTAL/AVE 2021-04-16 11144   0       11144      34413         0
3 TOTAL/AVE 2021-04-15  9177   0        9177      23269         0
4 TOTAL/AVE 2021-04-14  4944   0        4944      14092         0
5 TOTAL/AVE 2021-04-13  4293   0        4293       9148         0
6 TOTAL/AVE 2021-04-12  4855   0        4855       4855         0
  total_status_all cum_vaccinations prefecture prefecture_short population
1 42370            34413            全国       全国             127138033
2 34413            23269            全国       全国             127138033
3 23269            14092            全国       全国             127138033
4 14092             9148            全国       全国             127138033
5  9148             4855            全国       全国             127138033
6  4855                0            全国       全国             127138033
  block
1 全国
2 全国
3 全国
4 全国
5 全国
6 全国

### 7.3. 接種状況と感染者数をJOINする

これで、接種状況と感染者数をドッキングさせる準備が整いました。都道府県だけ、日付だけ、では一意のキーになりませんが、都道府県と日付のペアで見れば、両方を結びつける際のキーになります。

なお、ほかにも共通のカラムはありますが、これは、同じpref_popとそれぞれの表を先ほどjoinしたからです。長短の県名・県コード・日付のほかに地域もキーにして突合しています、とメッセージが出ていますが、差し支えありません。今回は、キーを指定しないでjoinを指示したので、両方に同じカラム名のデータがあれば、それをキーに使おうとしてくれているわけです。

In [ ]:
# vaccinationとpatientsを付き合わせる。
# left_joinは、左のデータにあるものは、右に突合相手がいなくても残す。
# なので、これはワクチン接種が始まる前の感染者データも保存する。
joined_data <- left_join(patients, vaccinations) %>%
# カラムを並べ替えて見やすくする
    relocate(date, code, prefecture, prefecture_short, block, population)
# こうなった。
head(joined_data)
tail(joined_data)
summary(joined_data)
str(joined_data)

Joining, by = c("prefecture", "date", "code", "prefecture_short", "population", "block")

  date       code prefecture prefecture_short block        population
1 2021-07-18 01   北海道     北海道           北海道・東北 5267762
2 2021-07-17 01   北海道     北海道           北海道・東北 5267762
3 2021-07-16 01   北海道     北海道           北海道・東北 5267762
4 2021-07-15 01   北海道     北海道           北海道・東北 5267762
5 2021-07-14 01   北海道     北海道           北海道・東北 5267762
6 2021-07-13 01   北海道     北海道           北海道・東北 5267762
  sum_patients new_patients patients_ma7 status1 status2 status_all
1 42386        107          79.71429     12415   15086   27501
2 42279        111          72.42857     14840   16671   31511
3 42168         73          65.71429     15581   16439   32020
4 42095         85          62.42857     17893   17980   35873
5 42010         75          59.14286     21424   20069   41493
6 41935         60          58.00000     21273   21916   43189
  total_status1 total_status2 total_status_all cum_vaccinations
1 1518458       859816        2378274          2350773
2 1506043       844730        2350773          2319262
3 1491203       828059        2319262          2287242
4 1475622       811620        2287242          2251369
5 1457729       793640        2251369          2209876
6 1436305       773571        2209876          2166687

  date       code      prefecture prefecture_short block population
1 2020-04-26 TOTAL/AVE 全国       全国             全国  127138033
2 2020-04-25 TOTAL/AVE 全国       全国             全国  127138033
3 2020-04-24 TOTAL/AVE 全国       全国             全国  127138033
4 2020-04-23 TOTAL/AVE 全国       全国             全国  127138033
5 2020-04-22 TOTAL/AVE 全国       全国             全国  127138033
6 2020-04-21 TOTAL/AVE 全国       全国             全国  127138033
  sum_patients new_patients patients_ma7 status1 status2 status_all
1 13232        199          NA           NA      NA      NA
2 13031        346          NA           NA      NA      NA
3 12681        423          NA           NA      NA      NA
4 12240        434          NA           NA      NA      NA
5 11772        420          NA           NA      NA      NA
6 11350        370          NA           NA      NA      NA
  total_status1 total_status2 total_status_all cum_vaccinations
1 NA            NA            NA               NA
2 NA            NA            NA               NA
3 NA            NA            NA               NA
4 NA            NA            NA               NA
5 NA            NA            NA               NA
6 NA            NA            NA               NA

      date                   code         prefecture    prefecture_short
 Min.   :2020-04-21   TOTAL/AVE:  455   全国   :  455   全国   :  455
 1st Qu.:2020-08-13   01       :  453   北海道 :  453   北海道 :  453
 Median :2020-12-04   02       :  453   青森県 :  453   青森   :  453
 Mean   :2020-12-04   03       :  453   岩手県 :  453   岩手   :  453
 3rd Qu.:2021-03-27   04       :  453   宮城県 :  453   宮城   :  453
 Max.   :2021-07-19   05       :  453   秋田県 :  453   秋田   :  453
                      (Other)  :19026   (Other):19026   (Other):19026
          block        population         sum_patients       new_patients
 九州・沖縄  :3624   Min.   :   561175   Min.   :     0.0   Min.   :-989.00
 北海道・東北:3171   1st Qu.:  1095903   1st Qu.:   195.0   1st Qu.:   0.00
 関東        :3171   Median :  1769880   Median :   931.5   Median :   5.00
 甲信越・北陸:2718   Mean   :  5308624   Mean   : 11801.0   Mean   :  76.08
 近畿        :2718   3rd Qu.:  2921436   3rd Qu.:  4153.8   3rd Qu.:  28.00
 中国        :2265   Max.   :127138033   Max.   :840657.0   Max.   :7844.00
 (Other)     :4079                                          NA's   :47
  patients_ma7         status1          status2           status_all
 Min.   : -94.286   Min.   :     0   Min.   :     0.0   Min.   :      1
 1st Qu.:   0.714   1st Qu.:  1364   1st Qu.:    27.5   1st Qu.:   1567
 Median :   6.143   Median :  4735   Median :  1537.0   Median :   7553
 Mean   :  76.103   Mean   : 15853   Mean   :  9710.3   Mean   :  25564
 3rd Qu.:  29.429   3rd Qu.:  9994   3rd Qu.:  6237.0   3rd Qu.:  16148
 Max.   :6369.143   Max.   :739786   Max.   :670809.0   Max.   :1329598
 NA's   :335        NA's   :17075    NA's   :17075      NA's   :17075
 total_status1      total_status2      total_status_all   cum_vaccinations
 Min.   :       1   Min.   :       0   Min.   :       1   Min.   :       0
 1st Qu.:   17258   1st Qu.:     210   1st Qu.:   18119   1st Qu.:   16550
 Median :  120621   Median :   18188   Median :  144188   Median :  134277
 Mean   :  522521   Mean   :  216579   Mean   :  739100   Mean   :  713536
 3rd Qu.:  336400   3rd Qu.:  136475   3rd Qu.:  476432   3rd Qu.:  460122
 Max.   :37111110   Max.   :22849539   Max.   :59960649   Max.   :59446434
 NA's   :17075      NA's   :17075      NA's   :17075      NA's   :17075

tibble [21,746 × 16] (S3: tbl_df/tbl/data.frame)
 $ date            : Date[1:21746], format: "2021-07-18" "2021-07-17" ...
 $ code            : Factor w/ 48 levels "01","02","03",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ prefecture      : Factor w/ 48 levels "北海道","青森県",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ prefecture_short: Factor w/ 48 levels "北海道","青森",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ block           : Factor w/ 9 levels "北海道・東北",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ population      : int [1:21746] 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 ...
 $ sum_patients    : int [1:21746] 42386 42279 42168 42095 42010 41935 41875 41828 41772 41708 ...
 $ new_patients    : int [1:21746] 107 111 73 85 75 60 47 56 64 50 ...
 $ patients_ma7    : num [1:21746] 79.7 72.4 65.7 62.4 59.1 ...
 $ status1         : int [1:21746] 12415 14840 15581 17893 21424 21273 21418 18172 25728 26058 ...
 $ status2         : int [1:21746] 15086 16671 16439 17980 20069 21916 22393 19474 16211 16598 ...
 $ status_all      : int [1:21746] 27501 31511 32020 35873 41493 43189 43811 37646 41939 42656 ...
 $ total_status1   : int [1:21746] 1518458 1506043 1491203 1475622 1457729 1436305 1415032 1393614 1375442 1349714 ...
 $ total_status2   : int [1:21746] 859816 844730 828059 811620 793640 773571 751655 729262 709788 693577 ...
 $ total_status_all: int [1:21746] 2378274 2350773 2319262 2287242 2251369 2209876 2166687 2122876 2085230 2043291 ...
 $ cum_vaccinations: int [1:21746] 2350773 2319262 2287242 2251369 2209876 2166687 2122876 2085230 2043291 2000635 ...


感染者数のデータは2020年からありますが、ワクチン接種のほうは2021年4月12日以降の分しかありません（県によっては、さらに欠けています）。なので、両方が揃っている期間だけに絞りましょう。

In [ ]:
# joined_data <- joined_data %>%
#   filter(date >= ymd("2021-4-12"))
tail(joined_data)
summary(joined_data)

  date       code      prefecture prefecture_short block population
1 2020-04-26 TOTAL/AVE 全国       全国             全国  127138033
2 2020-04-25 TOTAL/AVE 全国       全国             全国  127138033
3 2020-04-24 TOTAL/AVE 全国       全国             全国  127138033
4 2020-04-23 TOTAL/AVE 全国       全国             全国  127138033
5 2020-04-22 TOTAL/AVE 全国       全国             全国  127138033
6 2020-04-21 TOTAL/AVE 全国       全国             全国  127138033
  sum_patients new_patients patients_ma7 status1 status2 status_all
1 13232        199          NA           NA      NA      NA
2 13031        346          NA           NA      NA      NA
3 12681        423          NA           NA      NA      NA
4 12240        434          NA           NA      NA      NA
5 11772        420          NA           NA      NA      NA
6 11350        370          NA           NA      NA      NA
  total_status1 total_status2 total_status_all cum_vaccinations
1 NA            NA            NA               NA
2 NA            NA            NA               NA
3 NA            NA            NA               NA
4 NA            NA            NA               NA
5 NA            NA            NA               NA
6 NA            NA            NA               NA

      date                   code         prefecture    prefecture_short
 Min.   :2020-04-21   TOTAL/AVE:  455   全国   :  455   全国   :  455
 1st Qu.:2020-08-13   01       :  453   北海道 :  453   北海道 :  453
 Median :2020-12-04   02       :  453   青森県 :  453   青森   :  453
 Mean   :2020-12-04   03       :  453   岩手県 :  453   岩手   :  453
 3rd Qu.:2021-03-27   04       :  453   宮城県 :  453   宮城   :  453
 Max.   :2021-07-19   05       :  453   秋田県 :  453   秋田   :  453
                      (Other)  :19026   (Other):19026   (Other):19026
          block        population         sum_patients       new_patients
 九州・沖縄  :3624   Min.   :   561175   Min.   :     0.0   Min.   :-989.00
 北海道・東北:3171   1st Qu.:  1095903   1st Qu.:   195.0   1st Qu.:   0.00
 関東        :3171   Median :  1769880   Median :   931.5   Median :   5.00
 甲信越・北陸:2718   Mean   :  5308624   Mean   : 11801.0   Mean   :  76.08
 近畿        :2718   3rd Qu.:  2921436   3rd Qu.:  4153.8   3rd Qu.:  28.00
 中国        :2265   Max.   :127138033   Max.   :840657.0   Max.   :7844.00
 (Other)     :4079                                          NA's   :47
  patients_ma7         status1          status2           status_all
 Min.   : -94.286   Min.   :     0   Min.   :     0.0   Min.   :      1
 1st Qu.:   0.714   1st Qu.:  1364   1st Qu.:    27.5   1st Qu.:   1567
 Median :   6.143   Median :  4735   Median :  1537.0   Median :   7553
 Mean   :  76.103   Mean   : 15853   Mean   :  9710.3   Mean   :  25564
 3rd Qu.:  29.429   3rd Qu.:  9994   3rd Qu.:  6237.0   3rd Qu.:  16148
 Max.   :6369.143   Max.   :739786   Max.   :670809.0   Max.   :1329598
 NA's   :335        NA's   :17075    NA's   :17075      NA's   :17075
 total_status1      total_status2      total_status_all   cum_vaccinations
 Min.   :       1   Min.   :       0   Min.   :       1   Min.   :       0
 1st Qu.:   17258   1st Qu.:     210   1st Qu.:   18119   1st Qu.:   16550
 Median :  120621   Median :   18188   Median :  144188   Median :  134277
 Mean   :  522521   Mean   :  216579   Mean   :  739100   Mean   :  713536
 3rd Qu.:  336400   3rd Qu.:  136475   3rd Qu.:  476432   3rd Qu.:  460122
 Max.   :37111110   Max.   :22849539   Max.   :59960649   Max.   :59446434
 NA's   :17075      NA's   :17075      NA's   :17075      NA's   :17075

### 7.4. このNA値は何か

この期間に絞っても、NA（Not Available）値がまだ残っています。これは、データが欠けていた部分です。
もともとがJSON、取り込んだ後も縦持ち形式だったので、気づきにくいですよね。でも、横持ちに変換したときに、気になった方もいたはずです。

これが、当該の県ではその日に接種がなかった（ない場合はNDJSONのデータにない）、ということなら、status1、status2、status_allは0に置き換えてよいわけです。累計のカラムは、直前の値のある日を引き継ぐ、ということになります。

In [ ]:
# 全カラムのデータが揃っていない行だけを抽出する。
rows_w_na <- !complete.cases(joined_data)
joined_data[rows_w_na, ]

      date       code      prefecture prefecture_short block        population
1     2021-04-11 01        北海道     北海道           北海道・東北 5267762
2     2021-04-10 01        北海道     北海道           北海道・東北 5267762
3     2021-04-09 01        北海道     北海道           北海道・東北 5267762
4     2021-04-08 01        北海道     北海道           北海道・東北 5267762
5     2021-04-07 01        北海道     北海道           北海道・東北 5267762
6     2021-04-06 01        北海道     北海道           北海道・東北 5267762
7     2021-04-05 01        北海道     北海道           北海道・東北 5267762
8     2021-04-04 01        北海道     北海道           北海道・東北 5267762
9     2021-04-03 01        北海道     北海道           北海道・東北 5267762
10    2021-04-02 01        北海道     北海道           北海道・東北 5267762
11    2021-04-01 01        北海道     北海道           北海道・東北 5267762
12    2021-03-31 01        北海道     北海道           北海道・東北 5267762
13    2021-03-30 01        北海道     北海道           北海道・東北 5267762
14    2021-03-29 01        北海道     北海道           北海道・東北 5267762
15    2021-03-28 01        北海道     北海道           北海道・東北 5267762
16    2021-03-27 01        北海道     北海道           北海道・東北 5267762
17    2021-03-26 01        北海道     北海道           北海道・東北 5267762
18    2021-03-25 01        北海道     北海道           北海道・東北 5267762
19    2021-03-24 01        北海道     北海道           北海道・東北 5267762
20    2021-03-23 01        北海道     北海道           北海道・東北 5267762
21    2021-03-22 01        北海道     北海道           北海道・東北 5267762
22    2021-03-21 01        北海道     北海道           北海道・東北 5267762
23    2021-03-20 01        北海道     北海道           北海道・東北 5267762
24    2021-03-19 01        北海道     北海道           北海道・東北 5267762
25    2021-03-18 01        北海道     北海道           北海道・東北 5267762
26    2021-03-17 01        北海道     北海道           北海道・東北 5267762
27    2021-03-16 01        北海道     北海道           北海道・東北 5267762
28    2021-03-15 01        北海道     北海道           北海道・東北 5267762
29    2021-03-14 01        北海道     北海道           北海道・東北 5267762
30    2021-03-13 01        北海道     北海道           北海道・東北 5267762
⋮     ⋮          ⋮         ⋮          ⋮                ⋮            ⋮
17046 2020-05-20 TOTAL/AVE 全国       全国             全国         127138033
17047 2020-05-19 TOTAL/AVE 全国       全国             全国         127138033
17048 2020-05-18 TOTAL/AVE 全国       全国             全国         127138033
17049 2020-05-17 TOTAL/AVE 全国       全国             全国         127138033
17050 2020-05-16 TOTAL/AVE 全国       全国             全国         127138033
17051 2020-05-15 TOTAL/AVE 全国       全国             全国         127138033
17052 2020-05-14 TOTAL/AVE 全国       全国             全国         127138033
17053 2020-05-13 TOTAL/AVE 全国       全国             全国         127138033
17054 2020-05-12 TOTAL/AVE 全国       全国             全国         127138033
17055 2020-05-11 TOTAL/AVE 全国       全国             全国         127138033
17056 2020-05-10 TOTAL/AVE 全国       全国             全国         127138033
17057 2020-05-09 TOTAL/AVE 全国       全国             全国         127138033
17058 2020-05-08 TOTAL/AVE 全国       全国             全国         127138033
17059 2020-05-07 TOTAL/AVE 全国       全国             全国         127138033
17060 2020-05-06 TOTAL/AVE 全国       全国             全国         127138033
17061 2020-05-05 TOTAL/AVE 全国       全国             全国         127138033
17062 2020-05-04 TOTAL/AVE 全国       全国             全国         127138033
17063 2020-05-03 TOTAL/AVE 全国       全国             全国         127138033
17064 2020-05-02 TOTAL/AVE 全国       全国             全国         127138033
17065 2020-05-01 TOTAL/AVE 全国       全国             全国         127138033
17066 2020-04-30 TOTAL/AVE 全国       全国             全国         127138033
17067 2020-04-29 TOTAL/AVE 全国       全国             全国         127138033
17068 2020-04-28 TOTAL/AVE 全国       全国             全国         127138033
17069 2020-04-27 TOTAL/AVE 全国       全国             全国         127138033
17070 2020-04-26 TOTAL/AVE 全国       全国             全国         127138033
17071 2020-04-25 TOTAL/AVE 全国       全国             全国         127138033
17072 2020-04-24 TOTAL/AVE 全国       全国             全国         127138033
17073 2020-04-23 TOTAL/AVE 全国       全国             全国         127138033
17074 2020-04-22 TOTAL/AVE 全国       全国             全国         127138033
17075 2020-04-21 TOTAL/AVE 全国       全国             全国         127138033
      sum_patients new_patients patients_ma7 status1 status2 status_all
1     21780         69          79.00000     NA      NA      NA
2     21711        116          76.71429     NA      NA      NA
3     21595         83          69.57143     NA      NA      NA
4     21512         79          65.85714     NA      NA      NA
5     21433         72          62.71429     NA      NA      NA
6     21361         63          63.28571     NA      NA      NA
7     21298         71          62.28571     NA      NA      NA
8     21227         53          58.71429     NA      NA      NA
9     21174         66          61.71429     NA      NA      NA
10    21108         57          61.14286     NA      NA      NA
11    21051         57          62.85714     NA      NA      NA
12    20994         76          64.28571     NA      NA      NA
13    20918         56          65.00000     NA      NA      NA
14    20862         46          63.00000     NA      NA      NA
15    20816         74          63.57143     NA      NA      NA
16    20742         62          61.57143     NA      NA      NA
17    20680         69          60.00000     NA      NA      NA
18    20611         67          61.28571     NA      NA      NA
19    20544         81          65.42857     NA      NA      NA
20    20463         42          64.28571     NA      NA      NA
21    20421         50          68.14286     NA      NA      NA
22    20371         60          68.71429     NA      NA      NA
23    20311         51          66.57143     NA      NA      NA
24    20260         78          67.57143     NA      NA      NA
25    20182         96          64.00000     NA      NA      NA
26    20086         73          60.42857     NA      NA      NA
27    20013         69          59.28571     NA      NA      NA
28    19944         54          58.42857     NA      NA      NA
29    19890         45          59.71429     NA      NA      NA
30    19845         58          65.28571     NA      NA      NA
⋮     ⋮            ⋮            ⋮            ⋮       ⋮       ⋮
17046 16251         37           47.71429    NA      NA      NA
17047 16212         31           50.42857    NA      NA      NA
17048 16192         30           57.14286    NA      NA      NA
17049 16132         28           60.00000    NA      NA      NA
17050 16112         57           65.71429    NA      NA      NA
17051 16066         52           74.57143    NA      NA      NA
17052 16022         99           78.57143    NA      NA      NA
17053 15908         56           77.71429    NA      NA      NA
17054 15854         78           85.14286    NA      NA      NA
17055 15706         50           91.42857    NA      NA      NA
17056 15630         68          109.00000    NA      NA      NA
17057 15581        119          127.85714    NA      NA      NA
17058 15462         80          152.14286    NA      NA      NA
17059 15382         93          178.00000    NA      NA      NA
17060 15300        108          191.42857    NA      NA      NA
17061 15192        122          206.57143    NA      NA      NA
17062 15069        173          228.00000    NA      NA      NA
17063 14895        200          229.42857    NA      NA      NA
17064 14677        289          229.28571    NA      NA      NA
17065 14383        261          237.42857    NA      NA      NA
17066 14120        187          260.57143    NA      NA      NA
17067 13929        214          295.85714    NA      NA      NA
17068 13695        272          325.28571    NA      NA      NA
17069 13422        183          339.28571    NA      NA      NA
17070 13232        199                 NA    NA      NA      NA
17071 13031        346                 NA    NA      NA      NA
17072 12681        423                 NA    NA      NA      NA
17073 12240        434                 NA    NA      NA      NA
17074 11772        420                 NA    NA      NA      NA
17075 11350        370                 NA    NA      NA      NA
      total_status1 total_status2 total_status_all cum_vaccinations
1     NA            NA            NA               NA
2     NA            NA            NA               NA
3     NA            NA            NA               NA
4     NA            NA            NA               NA
5     NA            NA            NA               NA
6     NA            NA            NA               NA
7     NA            NA            NA               NA
8     NA            NA            NA               NA
9     NA            NA            NA               NA
10    NA            NA            NA               NA
11    NA            NA            NA               NA
12    NA            NA            NA               NA
13    NA            NA            NA               NA
14    NA            NA            NA               NA
15    NA            NA            NA               NA
16    NA            NA            NA               NA
17    NA            NA            NA               NA
18    NA            NA            NA               NA
19    NA            NA            NA               NA
20    NA            NA            NA               NA
21    NA            NA            NA               NA
22    NA            NA            NA               NA
23    NA            NA            NA               NA
24    NA            NA            NA               NA
25    NA            NA            NA               NA
26    NA            NA            NA               NA
27    NA            NA            NA               NA
28    NA            NA            NA               NA
29    NA            NA            NA               NA
30    NA            NA            NA               NA
⋮     ⋮             ⋮             ⋮                ⋮
17046 NA            NA            NA               NA
17047 NA            NA            NA               NA
17048 NA            NA            NA               NA
17049 NA            NA            NA               NA
17050 NA            NA            NA               NA
17051 NA            NA            NA               NA
17052 NA            NA            NA               NA
17053 NA            NA            NA               NA
17054 NA            NA            NA               NA
17055 NA            NA            NA               NA
17056 NA            NA            NA               NA
17057 NA            NA            NA               NA
17058 NA            NA            NA               NA
17059 NA            NA            NA               NA
17060 NA            NA            NA               NA
17061 NA            NA            NA               NA
17062 NA            NA            NA               NA
17063 NA            NA            NA               NA
17064 NA            NA            NA               NA
17065 NA            NA            NA               NA
17066 NA            NA            NA               NA
17067 NA            NA            NA               NA
17068 NA            NA            NA               NA
17069 NA            NA            NA               NA
17070 NA            NA            NA               NA
17071 NA            NA            NA               NA
17072 NA            NA            NA               NA
17073 NA            NA            NA               NA
17074 NA            NA            NA               NA
17075 NA            NA            NA               NA

In [ ]:
# NAは貴重な情報なので、インプレイスで置換せずに、残しておく。
joined_data_w0 <- joined_data
before <-  lead(rows_w_na)
after  <-  lag(rows_w_na)
flag   <-  ((rows_w_na | before | after) > 0)
# NAの前後１行ずつを表示
joined_data_w0[flag, ]

# 累積接種の2カラムについては、NAがあったら、直前の有効な値で埋めるファンクション。
# ただし期間中の一番古い日がNAの場合は、その前日がないから、持ってくるデータがない。この分と……
# 新規接種のNAは、まとめて0に置き換える。
func_fillNA <- function(df){
    return(
        df %>% arrange(desc(date)) %>% 
        fill(
# status区分を追加。
            total_status1,
            total_status2,
            total_status_all,
            cum_vaccinations, .direction = "down"
        ) %>% 
        replace_na(list(
# status区分を追加。
            status1            = 0,
            status2            = 0,
            status_all         = 0,
            total_status1      = 0,
            total_status2      = 0,
            total_status_all   = 0,
            cum_vaccinations   = 0
        )) 
    )
}

# NAを直前の有効な値または0に置換
joined_data_w0 <- joined_data_w0 %>% 
    nest(nested_df = -prefecture) %>%
    mutate(nested_df = map(nested_df, func_fillNA)) %>% 
    unnest(cols = nested_df)

# 結果を見る
joined_data_w0[flag,]

      date       code      prefecture prefecture_short block        population
1     <NA>       NA        NA         NA               NA                NA
2     2021-04-12 01        北海道     北海道           北海道・東北 5267762
3     2021-04-11 01        北海道     北海道           北海道・東北 5267762
4     2021-04-10 01        北海道     北海道           北海道・東北 5267762
5     2021-04-09 01        北海道     北海道           北海道・東北 5267762
6     2021-04-08 01        北海道     北海道           北海道・東北 5267762
7     2021-04-07 01        北海道     北海道           北海道・東北 5267762
8     2021-04-06 01        北海道     北海道           北海道・東北 5267762
9     2021-04-05 01        北海道     北海道           北海道・東北 5267762
10    2021-04-04 01        北海道     北海道           北海道・東北 5267762
11    2021-04-03 01        北海道     北海道           北海道・東北 5267762
12    2021-04-02 01        北海道     北海道           北海道・東北 5267762
13    2021-04-01 01        北海道     北海道           北海道・東北 5267762
14    2021-03-31 01        北海道     北海道           北海道・東北 5267762
15    2021-03-30 01        北海道     北海道           北海道・東北 5267762
16    2021-03-29 01        北海道     北海道           北海道・東北 5267762
17    2021-03-28 01        北海道     北海道           北海道・東北 5267762
18    2021-03-27 01        北海道     北海道           北海道・東北 5267762
19    2021-03-26 01        北海道     北海道           北海道・東北 5267762
20    2021-03-25 01        北海道     北海道           北海道・東北 5267762
21    2021-03-24 01        北海道     北海道           北海道・東北 5267762
22    2021-03-23 01        北海道     北海道           北海道・東北 5267762
23    2021-03-22 01        北海道     北海道           北海道・東北 5267762
24    2021-03-21 01        北海道     北海道           北海道・東北 5267762
25    2021-03-20 01        北海道     北海道           北海道・東北 5267762
26    2021-03-19 01        北海道     北海道           北海道・東北 5267762
27    2021-03-18 01        北海道     北海道           北海道・東北 5267762
28    2021-03-17 01        北海道     北海道           北海道・東北 5267762
29    2021-03-16 01        北海道     北海道           北海道・東北 5267762
30    2021-03-15 01        北海道     北海道           北海道・東北 5267762
⋮     ⋮          ⋮         ⋮          ⋮                ⋮            ⋮
17187 2020-05-20 TOTAL/AVE 全国       全国             全国         127138033
17188 2020-05-19 TOTAL/AVE 全国       全国             全国         127138033
17189 2020-05-18 TOTAL/AVE 全国       全国             全国         127138033
17190 2020-05-17 TOTAL/AVE 全国       全国             全国         127138033
17191 2020-05-16 TOTAL/AVE 全国       全国             全国         127138033
17192 2020-05-15 TOTAL/AVE 全国       全国             全国         127138033
17193 2020-05-14 TOTAL/AVE 全国       全国             全国         127138033
17194 2020-05-13 TOTAL/AVE 全国       全国             全国         127138033
17195 2020-05-12 TOTAL/AVE 全国       全国             全国         127138033
17196 2020-05-11 TOTAL/AVE 全国       全国             全国         127138033
17197 2020-05-10 TOTAL/AVE 全国       全国             全国         127138033
17198 2020-05-09 TOTAL/AVE 全国       全国             全国         127138033
17199 2020-05-08 TOTAL/AVE 全国       全国             全国         127138033
17200 2020-05-07 TOTAL/AVE 全国       全国             全国         127138033
17201 2020-05-06 TOTAL/AVE 全国       全国             全国         127138033
17202 2020-05-05 TOTAL/AVE 全国       全国             全国         127138033
17203 2020-05-04 TOTAL/AVE 全国       全国             全国         127138033
17204 2020-05-03 TOTAL/AVE 全国       全国             全国         127138033
17205 2020-05-02 TOTAL/AVE 全国       全国             全国         127138033
17206 2020-05-01 TOTAL/AVE 全国       全国             全国         127138033
17207 2020-04-30 TOTAL/AVE 全国       全国             全国         127138033
17208 2020-04-29 TOTAL/AVE 全国       全国             全国         127138033
17209 2020-04-28 TOTAL/AVE 全国       全国             全国         127138033
17210 2020-04-27 TOTAL/AVE 全国       全国             全国         127138033
17211 2020-04-26 TOTAL/AVE 全国       全国             全国         127138033
17212 2020-04-25 TOTAL/AVE 全国       全国             全国         127138033
17213 2020-04-24 TOTAL/AVE 全国       全国             全国         127138033
17214 2020-04-23 TOTAL/AVE 全国       全国             全国         127138033
17215 2020-04-22 TOTAL/AVE 全国       全国             全国         127138033
17216 2020-04-21 TOTAL/AVE 全国       全国             全国         127138033
      sum_patients new_patients patients_ma7 status1 status2 status_all
1        NA         NA                NA      NA     NA       NA
2     21838         58          77.14286     279      0      279
3     21780         69          79.00000      NA     NA       NA
4     21711        116          76.71429      NA     NA       NA
5     21595         83          69.57143      NA     NA       NA
6     21512         79          65.85714      NA     NA       NA
7     21433         72          62.71429      NA     NA       NA
8     21361         63          63.28571      NA     NA       NA
9     21298         71          62.28571      NA     NA       NA
10    21227         53          58.71429      NA     NA       NA
11    21174         66          61.71429      NA     NA       NA
12    21108         57          61.14286      NA     NA       NA
13    21051         57          62.85714      NA     NA       NA
14    20994         76          64.28571      NA     NA       NA
15    20918         56          65.00000      NA     NA       NA
16    20862         46          63.00000      NA     NA       NA
17    20816         74          63.57143      NA     NA       NA
18    20742         62          61.57143      NA     NA       NA
19    20680         69          60.00000      NA     NA       NA
20    20611         67          61.28571      NA     NA       NA
21    20544         81          65.42857      NA     NA       NA
22    20463         42          64.28571      NA     NA       NA
23    20421         50          68.14286      NA     NA       NA
24    20371         60          68.71429      NA     NA       NA
25    20311         51          66.57143      NA     NA       NA
26    20260         78          67.57143      NA     NA       NA
27    20182         96          64.00000      NA     NA       NA
28    20086         73          60.42857      NA     NA       NA
29    20013         69          59.28571      NA     NA       NA
30    19944         54          58.42857      NA     NA       NA
⋮     ⋮            ⋮            ⋮            ⋮       ⋮       ⋮
17187 16251         37           47.71429    NA      NA      NA
17188 16212         31           50.42857    NA      NA      NA
17189 16192         30           57.14286    NA      NA      NA
17190 16132         28           60.00000    NA      NA      NA
17191 16112         57           65.71429    NA      NA      NA
17192 16066         52           74.57143    NA      NA      NA
17193 16022         99           78.57143    NA      NA      NA
17194 15908         56           77.71429    NA      NA      NA
17195 15854         78           85.14286    NA      NA      NA
17196 15706         50           91.42857    NA      NA      NA
17197 15630         68          109.00000    NA      NA      NA
17198 15581        119          127.85714    NA      NA      NA
17199 15462         80          152.14286    NA      NA      NA
17200 15382         93          178.00000    NA      NA      NA
17201 15300        108          191.42857    NA      NA      NA
17202 15192        122          206.57143    NA      NA      NA
17203 15069        173          228.00000    NA      NA      NA
17204 14895        200          229.42857    NA      NA      NA
17205 14677        289          229.28571    NA      NA      NA
17206 14383        261          237.42857    NA      NA      NA
17207 14120        187          260.57143    NA      NA      NA
17208 13929        214          295.85714    NA      NA      NA
17209 13695        272          325.28571    NA      NA      NA
17210 13422        183          339.28571    NA      NA      NA
17211 13232        199                 NA    NA      NA      NA
17212 13031        346                 NA    NA      NA      NA
17213 12681        423                 NA    NA      NA      NA
17214 12240        434                 NA    NA      NA      NA
17215 11772        420                 NA    NA      NA      NA
17216 11350        370                 NA    NA      NA      NA
      total_status1 total_status2 total_status_all cum_vaccinations
1      NA           NA             NA              NA
2     279            0            279               0
3      NA           NA             NA              NA
4      NA           NA             NA              NA
5      NA           NA             NA              NA
6      NA           NA             NA              NA
7      NA           NA             NA              NA
8      NA           NA             NA              NA
9      NA           NA             NA              NA
10     NA           NA             NA              NA
11     NA           NA             NA              NA
12     NA           NA             NA              NA
13     NA           NA             NA              NA
14     NA           NA             NA              NA
15     NA           NA             NA              NA
16     NA           NA             NA              NA
17     NA           NA             NA              NA
18     NA           NA             NA              NA
19     NA           NA             NA              NA
20     NA           NA             NA              NA
21     NA           NA             NA              NA
22     NA           NA             NA              NA
23     NA           NA             NA              NA
24     NA           NA             NA              NA
25     NA           NA             NA              NA
26     NA           NA             NA              NA
27     NA           NA             NA              NA
28     NA           NA             NA              NA
29     NA           NA             NA              NA
30     NA           NA             NA              NA
⋮     ⋮             ⋮             ⋮                ⋮
17187 NA            NA            NA               NA
17188 NA            NA            NA               NA
17189 NA            NA            NA               NA
17190 NA            NA            NA               NA
17191 NA            NA            NA               NA
17192 NA            NA            NA               NA
17193 NA            NA            NA               NA
17194 NA            NA            NA               NA
17195 NA            NA            NA               NA
17196 NA            NA            NA               NA
17197 NA            NA            NA               NA
17198 NA            NA            NA               NA
17199 NA            NA            NA               NA
17200 NA            NA            NA               NA
17201 NA            NA            NA               NA
17202 NA            NA            NA               NA
17203 NA            NA            NA               NA
17204 NA            NA            NA               NA
17205 NA            NA            NA               NA
17206 NA            NA            NA               NA
17207 NA            NA            NA               NA
17208 NA            NA            NA               NA
17209 NA            NA            NA               NA
17210 NA            NA            NA               NA
17211 NA            NA            NA               NA
17212 NA            NA            NA               NA
17213 NA            NA            NA               NA
17214 NA            NA            NA               NA
17215 NA            NA            NA               NA
17216 NA            NA            NA               NA

      prefecture date       code      prefecture_short block        population
1     NA         <NA>       NA        NA               NA                NA
2     北海道     2021-04-12 01        北海道           北海道・東北 5267762
3     北海道     2021-04-11 01        北海道           北海道・東北 5267762
4     北海道     2021-04-10 01        北海道           北海道・東北 5267762
5     北海道     2021-04-09 01        北海道           北海道・東北 5267762
6     北海道     2021-04-08 01        北海道           北海道・東北 5267762
7     北海道     2021-04-07 01        北海道           北海道・東北 5267762
8     北海道     2021-04-06 01        北海道           北海道・東北 5267762
9     北海道     2021-04-05 01        北海道           北海道・東北 5267762
10    北海道     2021-04-04 01        北海道           北海道・東北 5267762
11    北海道     2021-04-03 01        北海道           北海道・東北 5267762
12    北海道     2021-04-02 01        北海道           北海道・東北 5267762
13    北海道     2021-04-01 01        北海道           北海道・東北 5267762
14    北海道     2021-03-31 01        北海道           北海道・東北 5267762
15    北海道     2021-03-30 01        北海道           北海道・東北 5267762
16    北海道     2021-03-29 01        北海道           北海道・東北 5267762
17    北海道     2021-03-28 01        北海道           北海道・東北 5267762
18    北海道     2021-03-27 01        北海道           北海道・東北 5267762
19    北海道     2021-03-26 01        北海道           北海道・東北 5267762
20    北海道     2021-03-25 01        北海道           北海道・東北 5267762
21    北海道     2021-03-24 01        北海道           北海道・東北 5267762
22    北海道     2021-03-23 01        北海道           北海道・東北 5267762
23    北海道     2021-03-22 01        北海道           北海道・東北 5267762
24    北海道     2021-03-21 01        北海道           北海道・東北 5267762
25    北海道     2021-03-20 01        北海道           北海道・東北 5267762
26    北海道     2021-03-19 01        北海道           北海道・東北 5267762
27    北海道     2021-03-18 01        北海道           北海道・東北 5267762
28    北海道     2021-03-17 01        北海道           北海道・東北 5267762
29    北海道     2021-03-16 01        北海道           北海道・東北 5267762
30    北海道     2021-03-15 01        北海道           北海道・東北 5267762
⋮     ⋮          ⋮          ⋮         ⋮                ⋮            ⋮
17187 全国       2020-05-20 TOTAL/AVE 全国             全国         127138033
17188 全国       2020-05-19 TOTAL/AVE 全国             全国         127138033
17189 全国       2020-05-18 TOTAL/AVE 全国             全国         127138033
17190 全国       2020-05-17 TOTAL/AVE 全国             全国         127138033
17191 全国       2020-05-16 TOTAL/AVE 全国             全国         127138033
17192 全国       2020-05-15 TOTAL/AVE 全国             全国         127138033
17193 全国       2020-05-14 TOTAL/AVE 全国             全国         127138033
17194 全国       2020-05-13 TOTAL/AVE 全国             全国         127138033
17195 全国       2020-05-12 TOTAL/AVE 全国             全国         127138033
17196 全国       2020-05-11 TOTAL/AVE 全国             全国         127138033
17197 全国       2020-05-10 TOTAL/AVE 全国             全国         127138033
17198 全国       2020-05-09 TOTAL/AVE 全国             全国         127138033
17199 全国       2020-05-08 TOTAL/AVE 全国             全国         127138033
17200 全国       2020-05-07 TOTAL/AVE 全国             全国         127138033
17201 全国       2020-05-06 TOTAL/AVE 全国             全国         127138033
17202 全国       2020-05-05 TOTAL/AVE 全国             全国         127138033
17203 全国       2020-05-04 TOTAL/AVE 全国             全国         127138033
17204 全国       2020-05-03 TOTAL/AVE 全国             全国         127138033
17205 全国       2020-05-02 TOTAL/AVE 全国             全国         127138033
17206 全国       2020-05-01 TOTAL/AVE 全国             全国         127138033
17207 全国       2020-04-30 TOTAL/AVE 全国             全国         127138033
17208 全国       2020-04-29 TOTAL/AVE 全国             全国         127138033
17209 全国       2020-04-28 TOTAL/AVE 全国             全国         127138033
17210 全国       2020-04-27 TOTAL/AVE 全国             全国         127138033
17211 全国       2020-04-26 TOTAL/AVE 全国             全国         127138033
17212 全国       2020-04-25 TOTAL/AVE 全国             全国         127138033
17213 全国       2020-04-24 TOTAL/AVE 全国             全国         127138033
17214 全国       2020-04-23 TOTAL/AVE 全国             全国         127138033
17215 全国       2020-04-22 TOTAL/AVE 全国             全国         127138033
17216 全国       2020-04-21 TOTAL/AVE 全国             全国         127138033
      sum_patients new_patients patients_ma7 status1 status2 status_all
1        NA         NA                NA      NA     NA       NA
2     21838         58          77.14286     279      0      279
3     21780         69          79.00000       0      0        0
4     21711        116          76.71429       0      0        0
5     21595         83          69.57143       0      0        0
6     21512         79          65.85714       0      0        0
7     21433         72          62.71429       0      0        0
8     21361         63          63.28571       0      0        0
9     21298         71          62.28571       0      0        0
10    21227         53          58.71429       0      0        0
11    21174         66          61.71429       0      0        0
12    21108         57          61.14286       0      0        0
13    21051         57          62.85714       0      0        0
14    20994         76          64.28571       0      0        0
15    20918         56          65.00000       0      0        0
16    20862         46          63.00000       0      0        0
17    20816         74          63.57143       0      0        0
18    20742         62          61.57143       0      0        0
19    20680         69          60.00000       0      0        0
20    20611         67          61.28571       0      0        0
21    20544         81          65.42857       0      0        0
22    20463         42          64.28571       0      0        0
23    20421         50          68.14286       0      0        0
24    20371         60          68.71429       0      0        0
25    20311         51          66.57143       0      0        0
26    20260         78          67.57143       0      0        0
27    20182         96          64.00000       0      0        0
28    20086         73          60.42857       0      0        0
29    20013         69          59.28571       0      0        0
30    19944         54          58.42857       0      0        0
⋮     ⋮            ⋮            ⋮            ⋮       ⋮       ⋮
17187 16251         37           47.71429    0       0       0
17188 16212         31           50.42857    0       0       0
17189 16192         30           57.14286    0       0       0
17190 16132         28           60.00000    0       0       0
17191 16112         57           65.71429    0       0       0
17192 16066         52           74.57143    0       0       0
17193 16022         99           78.57143    0       0       0
17194 15908         56           77.71429    0       0       0
17195 15854         78           85.14286    0       0       0
17196 15706         50           91.42857    0       0       0
17197 15630         68          109.00000    0       0       0
17198 15581        119          127.85714    0       0       0
17199 15462         80          152.14286    0       0       0
17200 15382         93          178.00000    0       0       0
17201 15300        108          191.42857    0       0       0
17202 15192        122          206.57143    0       0       0
17203 15069        173          228.00000    0       0       0
17204 14895        200          229.42857    0       0       0
17205 14677        289          229.28571    0       0       0
17206 14383        261          237.42857    0       0       0
17207 14120        187          260.57143    0       0       0
17208 13929        214          295.85714    0       0       0
17209 13695        272          325.28571    0       0       0
17210 13422        183          339.28571    0       0       0
17211 13232        199                 NA    0       0       0
17212 13031        346                 NA    0       0       0
17213 12681        423                 NA    0       0       0
17214 12240        434                 NA    0       0       0
17215 11772        420                 NA    0       0       0
17216 11350        370                 NA    0       0       0
      total_status1 total_status2 total_status_all cum_vaccinations
1      NA           NA             NA              NA
2     279            0            279               0
3     279            0            279               0
4     279            0            279               0
5     279            0            279               0
6     279            0            279               0
7     279            0            279               0
8     279            0            279               0
9     279            0            279               0
10    279            0            279               0
11    279            0            279               0
12    279            0            279               0
13    279            0            279               0
14    279            0            279               0
15    279            0            279               0
16    279            0            279               0
17    279            0            279               0
18    279            0            279               0
19    279            0            279               0
20    279            0            279               0
21    279            0            279               0
22    279            0            279               0
23    279            0            279               0
24    279            0            279               0
25    279            0            279               0
26    279            0            279               0
27    279            0            279               0
28    279            0            279               0
29    279            0            279               0
30    279            0            279               0
⋮     ⋮             ⋮             ⋮                ⋮
17187 4855          0             4855             0
17188 4855          0             4855             0
17189 4855          0             4855             0
17190 4855          0             4855             0
17191 4855          0             4855             0
17192 4855          0             4855             0
17193 4855          0             4855             0
17194 4855          0             4855             0
17195 4855          0             4855             0
17196 4855          0             4855             0
17197 4855          0             4855             0
17198 4855          0             4855             0
17199 4855          0             4855             0
17200 4855          0             4855             0
17201 4855          0             4855             0
17202 4855          0             4855             0
17203 4855          0             4855             0
17204 4855          0             4855             0
17205 4855          0             4855             0
17206 4855          0             4855             0
17207 4855          0             4855             0
17208 4855          0             4855             0
17209 4855          0             4855             0
17210 4855          0             4855             0
17211 4855          0             4855             0
17212 4855          0             4855             0
17213 4855          0             4855             0
17214 4855          0             4855             0
17215 4855          0             4855             0
17216 4855          0             4855             0

### 7.5. 人口比にする

都道府県どうしの比較をするために、実数だけでなく、人口比も知りたくなります。
各県の接種と感染の数値データを、その県の人口で割って比率を出します。ここでは、定数を掛けて、人口10万人あたりの数にしています。

In [ ]:
# 日付と数値データを県ごとに畳む。
joined_data_w0 <-
    joined_data_w0 %>%
# 県ごとの小分けtibbleになる部分。
    nest(data_by_pref = c(
        date,
        new_patients,
        patients_ma7,
        sum_patients,
# status区分を追加した。
        status1,
        status2,
        status_all,
        total_status1,
        total_status2,
        total_status_all,
        cum_vaccinations
        )
    ) 

# 県ごとのデータを、その県の人口で割って比率を計算するファンクション。
# 人口10万人あたり、にしている。rをつけたカラムが人口比。
calc_ratio <- function(nested_df, divisor){
    const = 100000
    return(
        nested_df %>% mutate(
            "r_new_patients"        = new_patients          / divisor * const,
            "r_patients_ma7"        = patients_ma7          / divisor * const,
            "r_sum_patients"        = sum_patients          / divisor * const,
            "r_status1"             = status1               / divisor * const,
            "r_status2"             = status2               / divisor * const, 
            "r_status_all"          = status_all            / divisor * const,
            "r_total_status1"      = total_status1          / divisor * const,
            "r_total_status2"      = total_status2          / divisor * const,
            "r_total_status_all"      = total_status_all    / divisor * const,
            "r_cum_vaccinations"    = cum_vaccinations      / divisor * const
        ) %>%
# 念のため、日付降順（最新日付が上）に来るようにソートしておく。
    arrange(desc(date))
    )
}
# これに限らずだが、とくにこのファンクション、松波さんのアドバイスに深謝！

joined_data_ratio <- joined_data_w0 %>% 
    mutate(
# さっきのファンクションに働いてもらう。
        data_by_pref = map2(data_by_pref, population, calc_ratio)
    ) %>%
# 念のため、県コードの順にソートしておく。
    arrange(prefecture)

# ネストを解除する。
joined_data_ratio <- joined_data_ratio %>% 
    unnest(cols = data_by_pref)

# こうなった。
str(joined_data_ratio)
head(joined_data_ratio)
tail(joined_data_ratio)
summary(joined_data_ratio)

tibble [21,746 × 26] (S3: tbl_df/tbl/data.frame)
 $ prefecture        : Factor w/ 48 levels "北海道","青森県",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ code              : Factor w/ 48 levels "01","02","03",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ prefecture_short  : Factor w/ 48 levels "北海道","青森",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ block             : Factor w/ 9 levels "北海道・東北",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ population        : int [1:21746] 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 5267762 ...
 $ date              : Date[1:21746], format: "2021-07-18" "2021-07-17" ...
 $ new_patients      : int [1:21746] 107 111 73 85 75 60 47 56 64 50 ...
 $ patients_ma7      : num [1:21746] 79.7 72.4 65.7 62.4 59.1 ...
 $ sum_patients      : int [1:21746] 42386 42279 42168 42095 42010 41935 41875 41828 41772 41708 ...
 $ status1           : num [1:21746] 12415 14840 15581 17893 21424 ...
 $ status2           : num [1:21746] 15086 16671 16439 17980 20069 ...
 $ status_all        : num [1:21746] 27501 31511 32020 35873 41493 ...
 $ total_status1     : num [1:21746] 1518458 1506043 1491203 1475622 1457729 ...
 $ total_status2     : num [1:21746] 859816 844730 828059 811620 793640 ...
 $ total_status_all  : num [1:21746] 2378274 2350773 2319262 2287242 2251369 ...
 $ cum_vaccinations  : num [1:21746] 2350773 2319262 2287242 2251369 2209876 ...
 $ r_new_patients    : num [1:21746] 2.03 2.11 1.39 1.61 1.42 ...
 $ r_patients_ma7    : num [1:21746] 1.51 1.37 1.25 1.19 1.12 ...
 $ r_sum_patients    : num [1:21746] 805 803 800 799 797 ...
 $ r_status1         : num [1:21746] 236 282 296 340 407 ...
 $ r_status2         : num [1:21746] 286 316 312 341 381 ...
 $ r_status_all      : num [1:21746] 522 598 608 681 788 ...
 $ r_total_status1   : num [1:21746] 28825 28590 28308 28012 27673 ...
 $ r_total_status2   : num [1:21746] 16322 16036 15719 15407 15066 ...
 $ r_total_status_all: num [1:21746] 45148 44626 44027 43420 42739 ...
 $ r_cum_vaccinations: num [1:21746] 44626 44027 43420 42739 41951 ...

  prefecture code prefecture_short block        population date
1 北海道     01   北海道           北海道・東北 5267762    2021-07-18
2 北海道     01   北海道           北海道・東北 5267762    2021-07-17
3 北海道     01   北海道           北海道・東北 5267762    2021-07-16
4 北海道     01   北海道           北海道・東北 5267762    2021-07-15
5 北海道     01   北海道           北海道・東北 5267762    2021-07-14
6 北海道     01   北海道           北海道・東北 5267762    2021-07-13
  new_patients patients_ma7 sum_patients status1 ⋯ r_new_patients
1 107          79.71429     42386        12415   ⋯ 2.031223
2 111          72.42857     42279        14840   ⋯ 2.107157
3  73          65.71429     42168        15581   ⋯ 1.385788
4  85          62.42857     42095        17893   ⋯ 1.613588
5  75          59.14286     42010        21424   ⋯ 1.423755
6  60          58.00000     41935        21273   ⋯ 1.139004
  r_patients_ma7 r_sum_patients r_status1 r_status2 r_status_all
1 1.513248       804.6301       235.6788  286.3835  522.0623
2 1.374940       802.5989       281.7136  316.4722  598.1857
3 1.247480       800.4917       295.7803  312.0680  607.8483
4 1.185106       799.1060       339.6699  341.3214  680.9913
5 1.122732       797.4924       406.7002  380.9777  787.6780
6 1.101037       796.0686       403.8337  416.0401  819.8738
  r_total_status1 r_total_status2 r_total_status_all r_cum_vaccinations
1 28825.49        16322.23        45147.71           44625.65
2 28589.81        16035.84        44625.65           44027.46
3 28308.09        15719.37        44027.46           43419.62
4 28012.31        15407.30        43419.62           42738.62
5 27672.64        15065.98        42738.62           41950.95
6 27265.94        14685.00        41950.95           41131.07

  prefecture code      prefecture_short block population date
1 全国       TOTAL/AVE 全国             全国  127138033  2020-04-26
2 全国       TOTAL/AVE 全国             全国  127138033  2020-04-25
3 全国       TOTAL/AVE 全国             全国  127138033  2020-04-24
4 全国       TOTAL/AVE 全国             全国  127138033  2020-04-23
5 全国       TOTAL/AVE 全国             全国  127138033  2020-04-22
6 全国       TOTAL/AVE 全国             全国  127138033  2020-04-21
  new_patients patients_ma7 sum_patients status1 ⋯ r_new_patients
1 199          NA           13232        0       ⋯ 0.1565228
2 346          NA           13031        0       ⋯ 0.2721452
3 423          NA           12681        0       ⋯ 0.3327093
4 434          NA           12240        0       ⋯ 0.3413613
5 420          NA           11772        0       ⋯ 0.3303496
6 370          NA           11350        0       ⋯ 0.2910223
  r_patients_ma7 r_sum_patients r_status1 r_status2 r_status_all
1 NA             10.407586      0         0         0
2 NA             10.249490      0         0         0
3 NA              9.974199      0         0         0
4 NA              9.627332      0         0         0
5 NA              9.259228      0         0         0
6 NA              8.927305      0         0         0
  r_total_status1 r_total_status2 r_total_status_all r_cum_vaccinations
1 3.818684        0               3.818684           0
2 3.818684        0               3.818684           0
3 3.818684        0               3.818684           0
4 3.818684        0               3.818684           0
5 3.818684        0               3.818684           0
6 3.818684        0               3.818684           0

   prefecture           code       prefecture_short          block
 全国   :  455   TOTAL/AVE:  455   全国   :  455    九州・沖縄  :3624
 北海道 :  453   01       :  453   北海道 :  453    北海道・東北:3171
 青森県 :  453   02       :  453   青森   :  453    関東        :3171
 岩手県 :  453   03       :  453   岩手   :  453    甲信越・北陸:2718
 宮城県 :  453   04       :  453   宮城   :  453    近畿        :2718
 秋田県 :  453   05       :  453   秋田   :  453    中国        :2265
 (Other):19026   (Other)  :19026   (Other):19026    (Other)     :4079
   population             date             new_patients      patients_ma7
 Min.   :   561175   Min.   :2020-04-21   Min.   :-989.00   Min.   : -94.286
 1st Qu.:  1095903   1st Qu.:2020-08-13   1st Qu.:   0.00   1st Qu.:   0.714
 Median :  1769880   Median :2020-12-04   Median :   5.00   Median :   6.143
 Mean   :  5308624   Mean   :2020-12-04   Mean   :  76.08   Mean   :  76.103
 3rd Qu.:  2921436   3rd Qu.:2021-03-27   3rd Qu.:  28.00   3rd Qu.:  29.429
 Max.   :127138033   Max.   :2021-07-19   Max.   :7844.00   Max.   :6369.143
                                          NA's   :47        NA's   :335
  sum_patients         status1          status2         status_all
 Min.   :     0.0   Min.   :     0   Min.   :     0   Min.   :      0
 1st Qu.:   195.0   1st Qu.:     0   1st Qu.:     0   1st Qu.:      0
 Median :   931.5   Median :     0   Median :     0   Median :      0
 Mean   : 11801.0   Mean   :  3405   Mean   :  2086   Mean   :   5491
 3rd Qu.:  4153.8   3rd Qu.:     0   3rd Qu.:     0   3rd Qu.:      0
 Max.   :840657.0   Max.   :739786   Max.   :670809   Max.   :1329598

 total_status1      total_status2      total_status_all   cum_vaccinations
 Min.   :       1   Min.   :       0   Min.   :       1   Min.   :       0
 1st Qu.:      33   1st Qu.:       0   1st Qu.:      33   1st Qu.:       0
 Median :      95   Median :       0   Median :      95   Median :       0
 Mean   :  112403   Mean   :   46521   Mean   :  158924   Mean   :  153273
 3rd Qu.:     385   3rd Qu.:       0   3rd Qu.:     385   3rd Qu.:       0
 Max.   :37111110   Max.   :22849539   Max.   :59960649   Max.   :59446434

 r_new_patients     r_patients_ma7    r_sum_patients      r_status1
 Min.   :-13.7090   Min.   :-1.0238   Min.   :   0.00   Min.   :   0.0
 1st Qu.:  0.0000   1st Qu.: 0.0518   1st Qu.:  14.14   1st Qu.:   0.0
 Median :  0.2920   Median : 0.3689   Median :  54.16   Median :   0.0
 Mean   :  0.9394   Mean   : 0.9415   Mean   : 138.30   Mean   :  68.5
 3rd Qu.:  1.1538   3rd Qu.: 1.1925   3rd Qu.: 186.79   3rd Qu.:   0.0
 Max.   : 22.6115   Max.   :17.9253   Max.   :1472.24   Max.   :1973.2
 NA's   :47         NA's   :335
   r_status2       r_status_all    r_total_status1    r_total_status2
 Min.   :   0.0   Min.   :   0.0   Min.   :    0.04   Min.   :    0.0
 1st Qu.:   0.0   1st Qu.:   0.0   1st Qu.:    2.11   1st Qu.:    0.0
 Median :   0.0   Median :   0.0   Median :    4.37   Median :    0.0
 Mean   :  42.9   Mean   : 111.4   Mean   : 2298.18   Mean   :  987.3
 3rd Qu.:   0.0   3rd Qu.:   0.0   3rd Qu.:   15.91   3rd Qu.:    0.0
 Max.   :1143.2   Max.   :2296.5   Max.   :38180.50   Max.   :25931.9

 r_total_status_all r_cum_vaccinations
 Min.   :    0.04   Min.   :    0
 1st Qu.:    2.11   1st Qu.:    0
 Median :    4.37   Median :    0
 Mean   : 3285.45   Mean   : 3170
 3rd Qu.:   15.91   3rd Qu.:    0
 Max.   :64112.41   Max.   :63234

In [ ]:
# 不要になったデータは消す。
rm(vaccinations, patients, rows_w_na, pref_pop, joined_data)

# 日付によるフィルターをここに引っ越した
# Longは2020年からの感染者数グラフ用
joined_data_ratio_Long <- joined_data_ratio
joined_data_ratio <- joined_data_ratio %>%
    filter(date >= ymd("2021-4-12"))

## 8.CSVを書き出す

最後に、処理したデータをcsv（コンマ区切り形式）のファイルに書き出して、終了です。書き出す前に、あらかじめrenameでカラム名を日本語に直してもよいでしょう。

Colabの場合は、画面左端の上から４番目あたりにある、ファイルのアイコンを押すと、「processed_data.csv」というファイルができあがっているのが見えるはずです。右クリック、または縦に３つ並んだ点のマークを押すと、ダウンロードが選べます。ローカルなら、お使いのPCに直接セーブされます。

csvは、開き方によっては、文字化けすることがあります。エンコードを調べてみて下さい。S-JISで開こうとして化けていたら、UTF-8を指定して下さい。

In [ ]:
joined_data_ratio %>% write_csv("processed_data.csv")

あとは、このデータをFlourishに渡してやるだけです。

同じデータの見せ方を変えているだけなのですが、ラベルなどの手直しを不要にしたいので、動くチャートと、折れ線・積み上げ棒グラフ用に、別々に書き出しておきましょう。

In [ ]:
xy_chart <- joined_data_ratio %>% 
    select(
        "都道府県名"        = prefecture_short,
        "都道府県コード"    = code,
        "地方"              = block,
        "日付"              = date,
        "新規感染者の７日移動平均"
                            = r_patients_ma7,
        "接種累計（いずれも人口10万人あたり）"
                            = r_total_status_all
    )
xy_chart <- xy_chart %>%
    group_by(日付) %>%
    filter(n() > 1) %>%
    ungroup() %>%
    arrange(日付)

xy_chart %>% write_csv("data_for_xy_chart.csv")

bar_and_line_Long <- joined_data_ratio_Long %>%
    mutate(
        r_cum_status1 = r_total_status1 - r_status1,
        r_cum_status2 = r_total_status2 - r_status2
    ) %>% 
    select(
        "都道府県名"        = prefecture_short,
        "都道府県コード"    = code,
        "地方"              = block,
        "日付"              = date,
        "新規感染者"        = r_new_patients,
        "７日移動平均"
                            = r_patients_ma7,
        "接種途中（前日までの累計）" 
                            = r_cum_status1,
        "接種途中（当日）"  = r_status1, 
    "接種完了（前日までの累計）" 
                            = r_cum_status2,
    "接種完了（当日）"      = r_status2
    )
bar_and_line_Long %>% write_csv("Long_data_for_bar_line_chart.csv")

bar_and_line <- bar_and_line_Long %>%
    filter(日付 >= ymd("2021-4-12"))
bar_and_line %>% write_csv("data_for_bar_line_chart.csv")

violin <- joined_data_ratio %>%
    select(
        "都道府県名"        = prefecture_short,
        "都道府県コード"    = code,
        "地方"              = block,
        "日付"              = date,
        "接種件数の分布（途中・完了の計、人口10万人あたり）"
                            = r_status_all
    )
violin %>% write_csv("data_for_violin_plot.csv")


お疲れさまでした。